<a href="https://colab.research.google.com/github/ykim71/georgia_analysis/blob/main/(3_1)_Georgia_topic_words_mturk_validation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Validation - MTurk v1

> this is done by dataset v1 (there's code error from scraped data)


> v2 is for those words that are not possibly included from this round (v1)

In [ ]:
#%cd /content/drive/MyDrive/Georgia_YK/MTurk # did not share this folder

/content/drive/.shortcut-targets-by-id/1NUNYUl9lUoPLVhCC3wJ_nEc9wj5eMq-o/Georgia/MTurk

In [ ]:
import pandas as pd

Set1 = pd.read_csv('Set1_Georgia.csv') 
Set2 = pd.read_csv('Set2_Georgia.csv') 
Set3 = pd.read_csv('Set3_Georgia.csv')
Set4 = pd.read_csv('Set4_Georgia.csv')
Set5 = pd.read_csv('Set5_Georgia.csv')
Set6 = pd.read_csv('Set6_Georgia.csv')

In [ ]:
mturk_val = pd.concat([Set1, Set1, Set2, Set3, Set4, Set5, Set6])

In [ ]:
mturk_val_sel = mturk_val.loc[:, mturk_val.columns.str.contains('Input|Answer|WorkerId|AssignmentId') ]

In [ ]:
mturk_val_sel.columns

Index(['AssignmentId', 'WorkerId', 'Input.id1', 'Input.random', 'Input.id1.1',
       'Input.word1', 'Input.topic1', 'Input.sentence1', 'Input.id2',
       'Input.random.1', 'Input.id2.1', 'Input.word2', 'Input.topic2',
       'Input.sentence2', 'Input.id3', 'Input.random.2', 'Input.id3.1',
       'Input.word3', 'Input.topic3', 'Input.sentence3', 'Input.id4',
       'Input.random.3', 'Input.id4.1', 'Input.word4', 'Input.topic4',
       'Input.sentence4', 'Input.id5', 'Input.random.4', 'Input.id5.1',
       'Input.word5', 'Input.topic5', 'Input.sentence5', 'Answer.mention1',
       'Answer.mention2', 'Answer.mention3', 'Answer.mention4',
       'Answer.mention5'],
      dtype='object')

In [ ]:
mturk_val_sel_t1 = mturk_val_sel[['AssignmentId', 'WorkerId', 'Input.id1', 'Input.word1', 'Input.topic1', 'Answer.mention1']]
mturk_val_sel_t1.rename(columns={'Input.id1': 'Input.id', 'Input.word1': 'Input.word', 'Input.topic1': 'Input.topic', 'Answer.mention1': 'Answer.mention' }, inplace=True)

mturk_val_sel_t2 = mturk_val_sel[['AssignmentId', 'WorkerId', 'Input.id2', 'Input.word2', 'Input.topic2', 'Answer.mention2']]
mturk_val_sel_t2.rename(columns={'Input.id2': 'Input.id','Input.word2': 'Input.word', 'Input.topic2': 'Input.topic', 'Answer.mention2': 'Answer.mention' }, inplace=True)

mturk_val_sel_t3 = mturk_val_sel[['AssignmentId', 'WorkerId', 'Input.id3', 'Input.word3', 'Input.topic3', 'Answer.mention3']]
mturk_val_sel_t3.rename(columns={'Input.id3': 'Input.id','Input.word3': 'Input.word', 'Input.topic3': 'Input.topic', 'Answer.mention3': 'Answer.mention' }, inplace=True)

mturk_val_sel_t4 = mturk_val_sel[['AssignmentId', 'WorkerId', 'Input.id4', 'Input.word4', 'Input.topic4', 'Answer.mention4']]
mturk_val_sel_t4.rename(columns={'Input.id4': 'Input.id','Input.word4': 'Input.word', 'Input.topic4': 'Input.topic', 'Answer.mention4': 'Answer.mention' }, inplace=True)

mturk_val_sel_t5 = mturk_val_sel[['AssignmentId', 'WorkerId', 'Input.id5', 'Input.word5', 'Input.topic5', 'Answer.mention5']]
mturk_val_sel_t5.rename(columns={'Input.id5': 'Input.id','Input.word5': 'Input.word', 'Input.topic5': 'Input.topic', 'Answer.mention5': 'Answer.mention' }, inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [ ]:
mturk_val_sel_merge = pd.concat([mturk_val_sel_t1, mturk_val_sel_t2, mturk_val_sel_t3, mturk_val_sel_t4, mturk_val_sel_t5])

In [ ]:
len(mturk_val_sel_merge)

28985

In [ ]:
mturk_val_sel_merge = mturk_val_sel_merge.dropna(subset=['WorkerId']) # 22616

In [ ]:
mturk_val_sel_merge = mturk_val_sel_merge.drop_duplicates() # same AssignmentID + workerID #CO: why wouold there be duplicates? Same worker taking the study twice?

In [ ]:
mturk_val_sel_merge # 28985 -> 18585 #CO: seems like a big change; is that an issue?

,AssignmentId,WorkerId,Input.id,Input.word,Input.topic,Answer.mention
0,3WI0P0II62BUJWAMKTQ7CVRABUARDA,A1OZA20YSR6KJ1,393.0,housing,Affordable housing,1.0
1,3TVRFO09GLYXE4KQ69UNKQL3LMNXLM,A3T9WZOUQGE2UW,393.0,housing,Affordable housing,1.0
2,3OLQQLKKNT8IDE598JSIGMN41P7EJO,A29C82GMR5BN7I,7446.0,prescribe,Health care,1.0
3,3Z3ZLGNNSJDWP3TPEPVVUWVTOXB3QJ,AZZA3J049G7R5,7446.0,prescribe,Health care,2.0
4,39GXDJN2OUXAV8VCC5K1R02CL9M8VA,A3T9WZOUQGE2UW,7314.0,pharmacist,Health care,1.0
...,...,...,...,...,...,...
616,3KIBXJ1WD6DZ0POGKIVQMDHVKKEOKA,A7SW6SVNJ5V6O,3936.0,borrowing cost,Economy / Jobs,1.0
617,3MAOD8E57RTN24NBIMA2XIPSQJRXNW,A3AN6Q3JPCFPI,4966.0,save,Economy / Jobs,2.0
618,35LDD5557BNB0M3472GDU9SQPGXMKJ,AKNYT1NTK2UFK,4966.0,save,Economy / Jobs,2.0
619,3ZY8KE4ISKMG1CV8YZ11DRNCFJ1QV4,A2OVX9UW5WANQE,7085.0,metabolic,Health care,1.0
620,3F0BG9B9MQ6NZOLY7BFFKZABSAH7Y2,ATIVK9XUANIUE,7085.0,metabolic,Health care,2.0

In [ ]:
import numpy as np

mturk_val_sel_merge['Yes'] = np.where(mturk_val_sel_merge['Answer.mention'] == 1, 1, 0) #CO: consider calling the column something more descriptive than "yes"; might make it easier for collaborators/reviewers to follow along later on (if that's a goal)
#CO: Not sure I'm following the meaning of the "Yes"-column here. It takes on "1" if "answer.mention" = 1, and otherwise takes on "0". So that must mean that the "Yes"-variable will always be either ONE or ZERO. But later on, we DIVIDE 'Yes' by 'Answer.mention' to create the variable "Perc" ...
#... I would think that this "perc"-variable might be intended to to signify the percent agreement (or something similar), and then the 80% cut-off is being implemented a handful of chunks below ...
#... but if the perc-variable is always just ONE or ZERO, then what is the meaning of the 80% cut-off?
#... or is the "groupby" the key here? I can't print out the middle steps, so it's tricky to follwo what's going on ...

In [ ]:
mturk_val_sel_merge

,AssignmentId,WorkerId,Input.id,Input.word,Input.topic,Answer.mention,Yes
0,3WI0P0II62BUJWAMKTQ7CVRABUARDA,A1OZA20YSR6KJ1,393.0,housing,Affordable housing,1.0,1
1,3TVRFO09GLYXE4KQ69UNKQL3LMNXLM,A3T9WZOUQGE2UW,393.0,housing,Affordable housing,1.0,1
2,3OLQQLKKNT8IDE598JSIGMN41P7EJO,A29C82GMR5BN7I,7446.0,prescribe,Health care,1.0,1
3,3Z3ZLGNNSJDWP3TPEPVVUWVTOXB3QJ,AZZA3J049G7R5,7446.0,prescribe,Health care,2.0,0
4,39GXDJN2OUXAV8VCC5K1R02CL9M8VA,A3T9WZOUQGE2UW,7314.0,pharmacist,Health care,1.0,1
...,...,...,...,...,...,...,...
616,3KIBXJ1WD6DZ0POGKIVQMDHVKKEOKA,A7SW6SVNJ5V6O,3936.0,borrowing cost,Economy / Jobs,1.0,1
617,3MAOD8E57RTN24NBIMA2XIPSQJRXNW,A3AN6Q3JPCFPI,4966.0,save,Economy / Jobs,2.0,0
618,35LDD5557BNB0M3472GDU9SQPGXMKJ,AKNYT1NTK2UFK,4966.0,save,Economy / Jobs,2.0,0
619,3ZY8KE4ISKMG1CV8YZ11DRNCFJ1QV4,A2OVX9UW5WANQE,7085.0,metabolic,Health care,1.0,1
620,3F0BG9B9MQ6NZOLY7BFFKZABSAH7Y2,ATIVK9XUANIUE,7085.0,metabolic,Health care,2.0,0

In [ ]:
temp = mturk_val_sel_merge.groupby(['Input.topic', 'Input.word'])['Yes'].agg(sum).reset_index() #CO: recommend printing out the output for more of these steps, just to double check they are as expected

In [ ]:
mturk_val_sel_merge_count = mturk_val_sel_merge.groupby(['Input.topic', 'Input.word' ,'Yes'])['Answer.mention'].count().reset_index()

In [ ]:
temp2 = mturk_val_sel_merge_count.groupby(['Input.topic', 'Input.word'])['Answer.mention'].agg(sum).reset_index()

In [ ]:
temp_merge = pd.merge(temp, temp2, on=['Input.topic', 'Input.word'], how='left')

In [ ]:
temp_merge['perc'] = temp_merge['Yes']/temp_merge['Answer.mention'] #CO: from the limited output I'm seeing, the "yes" column is always either 0 or 1 and then the "answer.mention" column tends to be 1 or 2. So I'm guessing the perc column will either be "1.0" or "0.5". If so, then what implications does the 80% cutoff have? Or, maybe this is just an artifact of me only being able to see 10 rows from the existing printout. I am curious, though: What does the distribution of "perc" look like?

In [ ]:
temp_merge['qualified08'] = np.where(temp_merge['perc'] >= 0.8, 1, 0) #CO: how many are being filtered away here?

In [ ]:
temp_merge = temp_merge.rename(columns={'Input.topic': 'topic', 'Input.word': 'topic_ng'})

temp_merge.to_excel('/content/drive/MyDrive/Georgia/MTurk/Mturk_validation_words_final.xlsx')

## validation mturk v2



> same work as done in v1 with the updated dataset (v2)

In [ ]:
%cd /content/drive/MyDrive/Georgia_YK/MTurk

/content/drive/.shortcut-targets-by-id/1NUNYUl9lUoPLVhCC3wJ_nEc9wj5eMq-o/Georgia_YK/MTurk

In [ ]:
import pandas as pd #CO: already imported

Set1 = pd.read_csv('Georgia_Set1_031623.csv') #CO: I don't have this file, so can't run
Set2 = pd.read_csv('Georgia_Set2_031623.csv')

mturk_val = pd.concat([Set1, Set1])

mturk_val_sel = mturk_val.loc[:, mturk_val.columns.str.contains('Input|Answer|WorkerId|AssignmentId') ]
mturk_val_sel = mturk_val.filter(regex='^(Input|Answer|WorkerId|AssignmentId)') #CO: I believe this is a shorter/equivalent way to write this. Can't double check, though, but might be helpful to consider


mturk_val_sel_t1 = mturk_val_sel[['AssignmentId', 'WorkerId', 'Input.id1', 'Input.word1', 'Input.topic1', 'Answer.mention1']]
mturk_val_sel_t1.rename(columns={'Input.id1': 'Input.id', 'Input.word1': 'Input.word', 'Input.topic1': 'Input.topic', 'Answer.mention1': 'Answer.mention' }, inplace=True)

mturk_val_sel_t2 = mturk_val_sel[['AssignmentId', 'WorkerId', 'Input.id2', 'Input.word2', 'Input.topic2', 'Answer.mention2']]
mturk_val_sel_t2.rename(columns={'Input.id2': 'Input.id','Input.word2': 'Input.word', 'Input.topic2': 'Input.topic', 'Answer.mention2': 'Answer.mention' }, inplace=True)
#CO: recommend printing out these to verify that all is as it should be

<ipython-input-5-0a871ac95e82>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mturk_val_sel_t1.rename(columns={'Input.id1': 'Input.id', 'Input.word1': 'Input.word', 'Input.topic1': 'Input.topic', 'Answer.mention1': 'Answer.mention' }, inplace=True)
<ipython-input-5-0a871ac95e82>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mturk_val_sel_t2.rename(columns={'Input.id2': 'Input.id','Input.word2': 'Input.word', 'Input.topic2': 'Input.topic', 'Answer.mention2': 'Answer.mention' }, inplace=True)

In [ ]:
mturk_val_sel_merge = pd.concat([mturk_val_sel_t1, mturk_val_sel_t2])

In [ ]:
mturk_val_sel_merge

,AssignmentId,WorkerId,Input.id,Input.word,Input.topic,Answer.mention,Yes
0,3U0SRXB7CEO3581Z9N4A8034SB4RND,A16VJHZWB1M2CB,91142,drug alcohol,Health care,2.0,0
1,3X4JMASXCNSD45S3CKGMX92N2WT0B1,A6KOTWP7N7RLU,91142,drug alcohol,Health care,1.0,1
2,3VE8AYVF8NGLZB9MCQFX9EZQ0SZF8N,A1198W1SPF1R4,140153,antidepressant,Health care,1.0,1
3,3UXUOQ9OKFGM36NVR51ZHDS4SSF7AE,A2KBTDHM44J7X4,140153,antidepressant,Health care,1.0,1
4,3U84XHCDIDWQLRDK1ZJRVUZ3ABRZ4I,A16VJHZWB1M2CB,181807,suspect custody,Crime,1.0,1
...,...,...,...,...,...,...,...
617,3HVVDCPGTFBAXMI5KEIGPV2TKG5TYI,AIIUR6K06BZDO,147632,stock bond,Economy / Jobs,3.0,0
618,3QILPRALQ6EXN3M3AEYAHJ8Z2JJN80,A37W0GRXSM04LX,2160,independent contractor,Economy / Jobs,1.0,1
619,3A1PQ49WVI0N27G78VUIXPOV213H10,AIIUR6K06BZDO,2160,independent contractor,Economy / Jobs,1.0,1
620,3300DTYQT30ZZ19M39CRDNZQIX4EQD,A27MFQYC1WKOM8,122351,taxable income,Economy / Jobs,3.0,0
621,3RYC5T2D74C38TDCP2H2CP8ZSQ4PR6,A6KOTWP7N7RLU,122351,taxable income,Economy / Jobs,1.0,1

In [ ]:
mturk_val_sel_merge = mturk_val_sel_merge.dropna(subset=['WorkerId']) # 22616 #CO: this doesn't seem to be the number of rows here.
mturk_val_sel_merge

,AssignmentId,WorkerId,Input.id,Input.word,Input.topic,Answer.mention
0,3U0SRXB7CEO3581Z9N4A8034SB4RND,A16VJHZWB1M2CB,91142,drug alcohol,Health care,2.0
1,3X4JMASXCNSD45S3CKGMX92N2WT0B1,A6KOTWP7N7RLU,91142,drug alcohol,Health care,1.0
2,3VE8AYVF8NGLZB9MCQFX9EZQ0SZF8N,A1198W1SPF1R4,140153,antidepressant,Health care,1.0
3,3UXUOQ9OKFGM36NVR51ZHDS4SSF7AE,A2KBTDHM44J7X4,140153,antidepressant,Health care,1.0
4,3U84XHCDIDWQLRDK1ZJRVUZ3ABRZ4I,A16VJHZWB1M2CB,181807,suspect custody,Crime,1.0
...,...,...,...,...,...,...
617,3HVVDCPGTFBAXMI5KEIGPV2TKG5TYI,AIIUR6K06BZDO,147632,stock bond,Economy / Jobs,3.0
618,3QILPRALQ6EXN3M3AEYAHJ8Z2JJN80,A37W0GRXSM04LX,2160,independent contractor,Economy / Jobs,1.0
619,3A1PQ49WVI0N27G78VUIXPOV213H10,AIIUR6K06BZDO,2160,independent contractor,Economy / Jobs,1.0
620,3300DTYQT30ZZ19M39CRDNZQIX4EQD,A27MFQYC1WKOM8,122351,taxable income,Economy / Jobs,3.0
621,3RYC5T2D74C38TDCP2H2CP8ZSQ4PR6,A6KOTWP7N7RLU,122351,taxable income,Economy / Jobs,1.0

In [ ]:

import numpy as np

mturk_val_sel_merge['Yes'] = np.where(mturk_val_sel_merge['Answer.mention'] == 1, 1, 0)

temp = mturk_val_sel_merge.groupby(['Input.topic', 'Input.word'])['Yes'].agg(sum).reset_index()

mturk_val_sel_merge_count = mturk_val_sel_merge.groupby(['Input.topic', 'Input.word' ,'Yes'])['Answer.mention'].count().reset_index()

temp2 = mturk_val_sel_merge_count.groupby(['Input.topic', 'Input.word'])['Answer.mention'].agg(sum).reset_index()

temp_merge = pd.merge(temp, temp2, on=['Input.topic', 'Input.word'], how='left')

temp_merge['perc'] = temp_merge['Yes']/temp_merge['Answer.mention'] #CO: I'm still not sure what the "Answer.mention"-varible really means.

temp_merge['qualified08'] = np.where(temp_merge['perc'] >= 0.8, 1, 0)

In [ ]:

temp_merge = temp_merge.rename(columns={'Input.topic': 'topic', 'Input.word': 'topic_ng'})

In [ ]:
temp_merge

,topic,topic_ng,Yes,Answer.mention,perc,qualified08
0,Abortion,access reproductive,6,8,0.750,0
1,Abortion,bodily autonomy,6,8,0.750,0
2,Abortion,brittany fonteno,6,8,0.750,0
3,Abortion,fetal,14,16,0.875,1
4,Abortion,personhood law,4,4,1.000,1
...,...,...,...,...,...,...
271,Racial inequality,marginalization,2,4,0.500,0
272,Racial inequality,practice disproportionately,16,16,1.000,1
273,Racial inequality,protest racial,8,8,1.000,1
274,Racial inequality,racial disparity,4,4,1.000,1
275,Racial inequality,racialize,8,8,1.000,1

In [ ]:
temp_merge.to_excel('/content/drive/MyDrive/Georgia_YK/MTurk/Mturk_validation_words_final_V2.xlsx')

## main topic analysis

In [ ]:
import pandas as pd

#df = pd.read_pickle('/content/drive/MyDrive/Georgia/Web Scraping/Georgia_data_v2_translation_ner2_lem.pkl')
#%cd /content/drive/MyDrive/Georgia/Topic Dictionaries

df = pd.read_pickle('/content/drive/MyDrive/Georgia/Web Scraping/Georgia_data_v2_translation_ner3_lem.pkl') # should be this final version

/content/drive/.shortcut-targets-by-id/1YSQ9BBnwwRu7fyeM_9V6eoFgKQBPl4Rr/Georgia/Web Scraping

In [ ]:

val_words_R1 = pd.read_excel('/content/drive/MyDrive/Georgia_YK/MTurk/Mturk_validation_words_final_upd.xlsx') #CO: can't find this folder
val_words_R2 = pd.read_excel('/content/drive/MyDrive/Georgia_YK/MTurk/Mturk_validation_words_final_V2.xlsx')

In [ ]:

# val_words_R1 = pd.read_excel('/content/drive/MyDrive/Georgia_YK/MTurk/Mturk_validation_words_final.xlsx')

# val_words_R1[val_words_R1['topic_ng'] =='6-Jan']
# val_words_R1.at[4,'topic_ng']='january 6'
# val_words_R1.to_excel('/content/drive/MyDrive/Georgia/MTurk/Mturk_validation_words_final_upd.xlsx')

,Unnamed: 0.1,Unnamed: 0,topic,topic_ng,Yes,Answer.mention,perc,qualified08
833,833,833,Preserving democracy / Threats to democracy,6-Jan,18,20,0.9,1

In [ ]:
val_words_R1[val_words_R1['topic_ng'] =='6-Jan']

Empty DataFrame
Columns: [Unnamed: 0.2, Unnamed: 0, Unnamed: 0.1, topic, topic_ng, Yes, Answer.mention, perc, qualified08]
Index: []

In [ ]:
val_words = pd.concat([val_words_R1, val_words_R2])

In [ ]:
val_words

,Unnamed: 0.2,Unnamed: 0,Unnamed: 0.1,topic,topic_ng,Yes,Answer.mention,perc,qualified08
0,0.0,527,527.0,Education,12th grade,16,20,0.80,1
1,1.0,594,594.0,Guns,2nd amendment,13,20,0.65,0
2,2.0,595,595.0,Guns,40 caliber,18,20,0.90,1
3,3.0,383,383.0,Economy / Jobs,401k,17,20,0.85,1
4,4.0,833,833.0,Preserving democracy / Threats to democracy,january 6,18,20,0.90,1
...,...,...,...,...,...,...,...,...,...
271,NaN,271,NaN,Racial inequality,marginalization,2,4,0.50,0
272,NaN,272,NaN,Racial inequality,practice disproportionately,16,16,1.00,1
273,NaN,273,NaN,Racial inequality,protest racial,8,8,1.00,1
274,NaN,274,NaN,Racial inequality,racial disparity,4,4,1.00,1
275,NaN,275,NaN,Racial inequality,racialize,8,8,1.00,1

In [ ]:
val_words_08 = val_words[val_words['qualified08'] == 1]
val_words_08 = val_words_08[['topic','topic_ng']]

In [ ]:
val_words_08.to_excel('/content/drive/MyDrive/Georgia/Topic Dictionaries/Final_qualified_topic_words.xlsx')

In [ ]:
val_words_08 = pd.read_excel('Final_qualified_topic_words.xlsx')

In [ ]:
val_words_08_st = val_words_08[val_words_08['final_review'] != 0]
val_words_08_st

     Unnamed: 0              topic           topic_ng  final_review
0            11           Abortion           abortion             1
2            43           Abortion        anti choice             1
3           128           Abortion          case rape             1
4             3           Abortion              fetal             1
5           334           Abortion              fetus             1
..          ...                ...                ...           ...
616         790  Racial inequality            slavery             1
617         917  Racial inequality  white supremacist             1
618         918  Racial inequality    white supremacy             1
619         923  Racial inequality        woman color             1
620         832      Supreme Court      supreme court             1

[596 rows x 4 columns]

In [ ]:
print(len(val_words_08_st))
print(len(val_words_08))

596
621

In [ ]:
#CO: I think this code is a repetition from something in an earlier notebook. If it's exactly the same code, as I think it is, then consider doing this only once.
import re

def bigrams(s):
    return [i for i in s if re.search(r'\s', i) ]
  
def unigrams(s):
    return [i for i in s if not re.search(r'\s', i) ]


topic_words = list(set(val_words_08_st['topic_ng'].tolist()))

word_bigrams_done = list(set(bigrams(topic_words)))
print(word_bigrams_done)
print(len(word_bigrams_done))
                       
word_unigrams_done = unigrams(topic_words)
print(word_unigrams_done)
print(len(word_unigrams_done))

['green new deal', 'prior conviction', 'aggravated assault', 'arrest allegedly', 'sex crime', 'heartbeat act', 'gross domestic product', 'severance pay', 'charge felony', 'law enforcement', 'seasonal depression', 'electoral fraud', 'blood thinner', 'case rape', '12th grade', '40 caliber', 'bodily injury', 'accuse sexual', 'voter suppression', 'pro life', 'burglary suspect', 'mass shooting', 'deadly mass', 'reckless conduct', 'save money', 'price increase', 'methane emission', 'incest life', 'labor market', 'drug smuggling', 'associate degree', 'sexually abuse', 'conspiracy commit', 'simple battery', 'serial killer', 'reproductive health', 'charge dui', 'perform cpr', 'illegal alien', 'death row', 'gross national product', 'life sentence', 'cola increase', 'child porn', 'suspect flee', 'delta variant', 'global warming', 'illicit drug', 'labor shortage', 'election interference', 'consumer spending', 'federal reserve', 'private equity', 'wildfire smoke', 'booster dose', 'cut taxis', 'drug cartel', 'arm dealer', 'nurse practitioner', 'repeat offender', 'rise price', 'rental unit', 'kindergarten class', 'assault weapon', 'armed violence', 'disorderly conduct', 'rate hike', 'gender transition', 'emergency contraception', 'double mastectomy', 'woman color', 'commit theft', 'bachelor science', 'ivy league', 'hyde amendment', 'big lie', 'greenhouse gas', 'opioid addiction', 'high schooler', 'drug dealer', 'animal cruelty', 'birth control', 'defer action', 'bachelor art', 'southern border', 'coal fire', 'willful obstruction', 'labor delivery', 'anti choice', 'cancer diagnosis', 'arrest charge', 'suicide bombing', 'suspect arrest', 'possession intent', 'drug trafficker', 'venous thromboembolism', 'simple assault', 'integrity election', 'chronic condition', 'border mexico', 'assault battery', 'aggravate assault', 'fossil fuel', 'year prison', 'crack cocaine', 'fed raise', 'sexual harassment', 'physical therapy', 'border security', 'racial bias', 'white supremacy', 'attack capitol', 'sexual abuse', 'fifth grader', 'election fraud', 'convict felon', 'coinsurance copayment', 'living standard', 'white supremacist', 'substance abuse', 'racial disparity', 'possess intent', 'search warrant', 'incest save', 'certify presidential', 'take custody', 'cap trade', 'capitol riot', '9 mm', 'accusation sexual', 'heartbeat law', 'elementary middle', 'supply shortage', 'public indecency', 'maternal health', 'steal vehicle', 'overturn election', 'foreign national', 'suspect identify', 'charge count', 'heart disease', 'domestic terrorism', 'surgical procedure', 'reproductive healthcare', 'child pornography', 'borrower creditworthiness', 'accuse sexually', 'pull gun', 'suspect custody', 'gas emission', 'threaten kill', 'count possession', 'domestic abuse', 'doctorate degree', 'legal pathway', 'clean energy', 'sexual assault', 'illegally enter', 'knee surgery', 'riot capitol', 'standard living', 'fed chair', 'educational institution', 'occupational therapist', 'interest rate', 'right vote', 'sexual battery', 'fire shot', 'carbon emission', 'open fire', 'adjustment cola', 'protest racial', 'carbon neutrality', 'defense attorney', 'practice disproportionately', 'physical therapist', 'minimum wage', 'hike interest', 'drug paraphernalia', 'grocery price', 'nato visa', 'heartbeat bill', 'source methane', 'effort overturn', 'school shooting', 'post secondary', 'plan parenthood', 'break in', 'assault possession', 'drug pricing', '10th grade', 'anti gun', 'sleep habit', 'sexual exploitation', 'assault rifle', 'central bank', 'illegally cross', 'suicidal behavior', 'reproductive freedom', 'hate crime', 'road rage', 'drive unlicensed', 'urgent care', 'armed dangerous', 'national rifle association', 'surgical bypass', 'price soar', 'mental illness', 'independent contractor', 'cruelty child', 'count aggravated', 'human smuggling', 'possession methamphetamine', 'pre k', 'child abuse', 'threat democracy', 'indecent exposure', 'bipolar disorder', 'affordable housing', 'price hike', 'money laundering', 'corona 19', 'voter right', 'atrial fibrillation', 'race conscious', 'overturn 2020', 'sp 500', 'inflation fed', 'illegally possess', 'illegal drug', 'rehabilitation center', 'election security', 'fill prescription', 'possession drug', 'physically abuse', 'labor force', 'treasury yield', 'sexual violence', 'emergency medicine', 'cleveland clinic', 'obstruction officer', 'witness tell', 'arm trafficking', 'overturn result', 'federal prison', 'charge aggravated', 'sex abuse', 'sexual misconduct', 'control substance', 'assault capitol', 'voter identification', 'election denier', 'cognitive impairment', 'birth defect', 'consumer price', 'sleep duration', 'allege sexual', 'school massacre', 'capitol attack', 'migrant cross', 'cognitive behavioral', 'affordable care', 'cell metabolism', 'hb 481', 'attempt overturn', 'identity theft', 'enroll medicare', 'personhood law', 'sexually assault', 'semi automatic', 'bachelor degree', 'january 6', 'death penalty', 'pro choice', 'moderate income', 'espionage act', 'supreme court', 'life prison', 'protection order', 'illicit market', 'election integrity', 'primary care', 'stock index', 'accuse kill', 'staff shortage', 'disproportionately impact', 'sanctuary city', 'raise interest', 'gun violence', 'unplanned pregnancy', 'drug trafficking']
291
['covid19', 'alzheimer', 'abduction', 'diabetes', 'unionized', 'carjacker', 'profitability', 'dui', 'murderer', 'molest', 'ammunition', 'tutoring', 'breastfeed', 'trafficking', 'job', 'lumpectomy', 'paramedic', 'hospitalist', 'workforce', 'impeach', 'doctor', 'academic', 'pandemic', 'schoolwork', 'rifle', 'colonoscopy', 'killing', 'clinical', 'diabete', 'robbery', 'ib', 'stimulus', 'inflationary', 'telemedicine', 'embezzlement', 'bivalent', 'ultrasound', 'murder', 'faculty', 'obamacare', 'rsv', 'sick', 'graduate', 'graduation', 'rapist', 'smuggle', 'therapeutic', 'manslaughter', 'immunotherapy', 'roe', 'racketeering', 'nra', 'smuggling', 'tuition', 'anemia', 'lending', 'cardiologist', 'dow', 'munition', 'educate', 'budget', 'semiautomatic', 'violent', 'student', 'environmentalist', 'ba46', 'diagnose', 'insulin', 'kidnapping', 'cardiac', 'prenatal', 'terror', 'abused', 'medicated', 'unemployed', 'fentanyl', 'apartment', 'price', 'medicinal', 'trespassing', 'diagnosis', 'undocumented', 'instructional', 'anticancer', 'pension', 'criminally', 'outpatient', 'economy', '401k', 'telehealth', 'medication', 'emts', 'racialize', 'gerrymander', 'heloc', 'therapy', 'vocational', 'infectious', 'pfizer', 'methadone', 'slavery', 'clinician', 'burglary', 'trafficker', 'borrower', 'economist', 'gunfire', 'shooting', 'naturalization', 'neurology', 'surgery', 'coronavirus', 'mortgage', 'recession', 'robber', 'taxation', 'medical', 'repatriation', 'bleeding', 'hypertension', 'insurrection', 'perpetrator', 'inflation', 'bribe', 'pediatric', 'pacemaker', 'shoplifting', 'obesity', 'ophthalmology', 'refinance', 'carjack', 'bribery', 'ems', 'k12', 'urology', 'menstruation', 'dentist', 'thyroidectomy', 'methamphetamine', 'slaying', 'novavax', 'layoff', 'pharmacist', 'respiratory', 'marijuana', 'gunman', 'paralysis', 'fraud', 'drought', 'pregnant', 'shooter', 'scholarship', 'hbcu', 'antidepressant', 'diploma', 'cost', 'furlough', 'arthritis', 'nursing', 'psychosocial', 'cardiomyopathy', 'dementia', 'unemployment', 'mammography', 'felony', 'glacial', 'macroeconomic', 'orthopaedic', 'unlawful', 'vandalism', 'rioter', 'immigration', 'ect', 'theft', 'racist', 'educational', 'bombing', 'salary', 'pharmacy', 'blindness', 'medically', 'gdp', 'homicide', 'terrorism', 'emission', 'killer', 'homeschool', 'physician', 'psychiatry', 'masking', 'undergraduate', 'citizenship', 'chemotherapy', 'extortion', 'omicron', 'melanoma', 'obstetrician', 'refugee', 'immigrate', 'industry', 'burglar', 'misconduct', 'migraine', 'immigrant', 'deportation', 'stroke', 'sepsis', 'riot', 'poison', 'pistol', 'dental', 'rape', 'neurologist', '911', 'medicaid', 'segregation', 'unionize', 'schizophrenic', 'gun', 'climate', 'criminal', 'assailant', 'health', 'firearm', 'oncologist', 'migrate', 'carjacking', 'gang', 'smuggled', 'stabbing', 'semester', 'employed', 'rehire', 'racism', 'crime', 'employ', 'arson', 'healthcare', 'misdemeanor', 'illness', 'gerrymandering', 'cartel', 'cocaine', 'moderna', 'oncology', 'shotgun', 'economic', 'tenant', 'optometrist', 'prediabete', 'policeman', 'stretcher', 'unvaccinated', 'rehabilitation', 'ecstasy', 'schooling', 'grope', 'physicians', 'smuggler', 'cortisone', 'abuser', 'ar15', 'contraception', 'budgeting', 'income', 'homebuyer', 'glock', 'depletion', 'classroom', 'asthma', 'thief', 'employee', 'education', 'custody', 'massacre', 'industries', 'fetus', 'abortion', 'wage', 'endocrinology', 'ak47', 'business', 'psychiatric', 'anxiety', 'pediatrician', 'endocrinologist', 'prostitution', 'disabled', 'fetal', 'teacher', 'curriculum', 'meth', 'pneumonia', 'handgun', 'ibd', 'cardiovascular', 'covid', 'lethal', 'neurosurgeon', 'housing']
300

In [ ]:

import numpy as np #CO already done
df = df.head(100) #speed it up
#CO: this part seems to be repeated for the pickle-file in several of the notebooks. Maybe consider doing this once in the cleaning notebook, so you don't have to redo this?
df['topic_ng1'] = df['article_lemma_num'].astype(str).apply(lambda x: set.intersection(set(x.split(' ')), word_unigrams_done))
df['topic_ng2'] = df['article_lemma_num'].astype(str).apply(lambda x: [i for i in word_bigrams_done if i in x])
# CO: I get a warning: "A value is trying to be set on a copy of a slice from a DataFrame.""

<ipython-input-12-480923ab8ce3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['topic_ng1'] = df['article_lemma_num'].astype(str).apply(lambda x: set.intersection(set(x.split(' ')), word_unigrams_done))

In [ ]:
#CO: I think this might be a repetition of prior code.
# topic only
text_df_uni = df[ df['topic_ng1'].str.len() >= 1]
text_df_bi = df[ df['topic_ng2'].str.len() >= 1]

text_df_uni = text_df_uni[['id', 'source', 'topic_ng1']]
text_df_bi = text_df_bi[['id', 'source','topic_ng2']]

text_df_uni_df = text_df_uni.explode('topic_ng1')
text_df_bi_df = text_df_bi.explode('topic_ng2')

text_df_uni_df = text_df_uni_df.rename(columns={'topic_ng1': 'topic_ng'})
text_df_bi_df = text_df_bi_df.rename(columns={'topic_ng2': 'topic_ng'})

text_df_ng_all = pd.concat([text_df_uni_df, text_df_bi_df])

text_df_ng_all_merge = pd.merge(text_df_ng_all, val_words_08, how='left', on=['topic_ng'])

In [ ]:
text_df_ng_all_merge[text_df_ng_all_merge['topic_ng']=='gunfire'] #CO: Looks empty. Maybe cause I'm running this with a low N?

Empty DataFrame
Columns: [id, source, topic_ng, Unnamed: 0, topic, final_review]
Index: []

In [ ]:
text_df_ng_all_merge_count = text_df_ng_all_merge.groupby(['source', 'topic', 'id']).count().reset_index()

In [ ]:
text_df_ng_all_merge_count

,source,topic,id,topic_ng,Unnamed: 0,final_review
0,Metter Advertiser,Affordable housing,47,2,2,2
1,Metter Advertiser,COVID-19,1,1,1,1
2,Metter Advertiser,COVID-19,2,2,2,2
3,Metter Advertiser,COVID-19,46,4,4,4
4,Metter Advertiser,COVID-19,47,1,1,1
...,...,...,...,...,...,...
110,Metter Advertiser,Inflation,15,1,1,1
111,Metter Advertiser,Inflation,47,2,2,2
112,Metter Advertiser,Inflation,72,2,2,2
113,Metter Advertiser,Racial inequality,43,1,1,1
114,Metter Advertiser,Racial inequality,89,1,1,1

In [ ]:
text_df_ng_all_merge_count_art = text_df_ng_all_merge_count.groupby(['source', 'topic']).count().reset_index()

In [ ]:
text_df_ng_all_merge_count_art #CO: almost all the columns now have the same numbers. Is that what we want?

,source,topic,id,topic_ng,Unnamed: 0,final_review
0,Metter Advertiser,Affordable housing,1,1,1,1
1,Metter Advertiser,COVID-19,16,16,16,16
2,Metter Advertiser,Climate change,2,2,2,2
3,Metter Advertiser,Crime,5,5,5,5
4,Metter Advertiser,Economy / Jobs,26,26,26,26
5,Metter Advertiser,Education,18,18,18,18
6,Metter Advertiser,Guns,3,3,3,3
7,Metter Advertiser,Health care,39,39,39,39
8,Metter Advertiser,Inflation,3,3,3,3
9,Metter Advertiser,Racial inequality,2,2,2,2

In [ ]:
topics_spread = text_df_ng_all_merge_count_art.pivot_table('id', ['source'], 'topic').reset_index()
topics_spread #CO: So we're seeing how often each outlet mentions each topic? Is that right?

topic,source,Affordable housing,COVID-19,Climate change,Crime,Economy / Jobs,Education,Guns,Health care,Inflation,Racial inequality
0,Metter Advertiser,1,16,2,5,26,18,3,39,3,2

In [ ]:
text_df2_final_source = df[['source']].drop_duplicates().reset_index()

In [ ]:
text_df2_final_source

   index             source
0      0  Metter Advertiser

In [ ]:
topics_spread_merge = pd.merge(text_df2_final_source, topics_spread, how='left', on='source')

In [ ]:
topics_spread_merge = topics_spread_merge.sort_values('source')

In [ ]:
topic_column_list = topics_spread_merge.columns.tolist()
topic_column_list

['index',
 'source',
 'Affordable housing',
 'COVID-19',
 'Climate change',
 'Crime',
 'Economy / Jobs',
 'Education',
 'Guns',
 'Health care',
 'Inflation',
 'Racial inequality']

In [ ]:
final_topic = val_words_08_st[['topic']].drop_duplicates().reset_index()
final_topic[~final_topic['topic'].isin(topic_column_list)].values
final_topic

    index                                        topic
0       0                                     Abortion
1      20                           Affordable housing
2      35                               Climate change
3      55                                     COVID-19
4      70                                        Crime
5     260                               Economy / Jobs
6     329                                    Education
7     369                                Election laws
8     380                                         Guns
9     404                                  Health care
10    551                Immigration / border security
11    574                                    Inflation
12    585  Preserving democracy / Threats to democracy
13    604                            Racial inequality
14    620                                Supreme Court

In [ ]:
topics_spread_merge_d1 = topics_spread_merge[['index', 'source']]
topics_spread_merge_d2 = topics_spread_merge.drop(columns=['index', 'source'])
topics_spread_merge_d2 = topics_spread_merge_d2[sorted(topics_spread_merge_d2)]
topics_spread_merge_d2

,Affordable housing,COVID-19,Climate change,Crime,Economy / Jobs,Education,Guns,Health care,Inflation,Racial inequality
0,1,16,2,5,26,18,3,39,3,2

In [ ]:
topics_spread_merge2 = pd.concat([topics_spread_merge_d1, topics_spread_merge_d2], axis=1)
topics_spread_merge2

,index,source,Affordable housing,COVID-19,Climate change,Crime,Economy / Jobs,Education,Guns,Health care,Inflation,Racial inequality
0,0,Metter Advertiser,1,16,2,5,26,18,3,39,3,2

In [ ]:
test = text_df_ng_all_merge[ (text_df_ng_all_merge['source']=='Alma Times' ) & (text_df_ng_all_merge['topic']=='Economy / Jobs')]
print(len(set(test.id.values.tolist()))) # 2120
test

117

,id,source,topic_ng,Unnamed: 0,topic,final_review
307101,174129,Alma Times,job,455,Economy / Jobs,1
307102,174131,Alma Times,employee,300,Economy / Jobs,1
307103,174131,Alma Times,job,455,Economy / Jobs,1
307104,174132,Alma Times,economy,275,Economy / Jobs,1
307107,174132,Alma Times,industry,438,Economy / Jobs,1
...,...,...,...,...,...,...
396603,174370,Alma Times,save money,743,Economy / Jobs,1
396607,174380,Alma Times,save money,743,Economy / Jobs,1
396614,174397,Alma Times,save money,743,Economy / Jobs,1
396617,174401,Alma Times,save money,743,Economy / Jobs,1
396623,174406,Alma Times,save money,743,Economy / Jobs,1

In [ ]:
topics_spread_merge2 #CO: So this is like descriptive stats? How often each outlet mentions each topic? But we haven't validated the method manually yet?

,index,source,Abortion,Affordable housing,COVID-19,Climate change,Crime,Economy / Jobs,Education,Election laws,Guns,Health care,Immigration / border security,Inflation,Preserving democracy / Threats to democracy,Racial inequality,Supreme Court
109,60545,285 South,NaN,NaN,1.0,1.0,2.0,5.0,3.0,NaN,1.0,1.0,5.0,NaN,NaN,NaN,NaN
94,49699,Albany Herald,53.0,49.0,147.0,78.0,246.0,494.0,307.0,12.0,71.0,404.0,54.0,198.0,26.0,35.0,35.0
212,174127,Alma Times,1.0,13.0,45.0,26.0,16.0,117.0,62.0,NaN,NaN,140.0,1.0,69.0,NaN,4.0,1.0
208,173505,Alpharetta Revue & News,NaN,12.0,4.0,NaN,22.0,30.0,16.0,NaN,NaN,16.0,2.0,13.0,NaN,4.0,2.0
57,30316,Americus Times Recorder,1.0,10.0,4.0,1.0,26.0,35.0,29.0,NaN,12.0,17.0,1.0,8.0,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,137871,Washington News Reporter,NaN,2.0,1.0,NaN,5.0,20.0,11.0,NaN,1.0,8.0,1.0,2.0,NaN,1.0,NaN
173,112249,Waycross Journal Herald,NaN,10.0,46.0,27.0,25.0,129.0,75.0,NaN,3.0,162.0,1.0,64.0,NaN,5.0,1.0
80,43810,Waynesboro True Citizen,3.0,9.0,6.0,1.0,36.0,40.0,33.0,NaN,14.0,26.0,2.0,16.0,NaN,2.0,NaN
27,14874,White County News,6.0,8.0,15.0,4.0,32.0,71.0,44.0,1.0,7.0,38.0,4.0,23.0,3.0,1.0,1.0
165,109935,Youth Today,1.0,6.0,11.0,4.0,15.0,18.0,20.0,NaN,6.0,21.0,NaN,10.0,NaN,6.0,2.0

In [ ]:
# merge # of articles by source
df_count = df.groupby('source')['id'].count().reset_index()
df_count = df_count.rename(columns={'id': 'total_articles'})
df_count

              source  total_articles
0  Metter Advertiser             100

In [ ]:
topics_spread_merge2 = pd.merge(topics_spread_merge2, df_count, on='source', how='left')

In [ ]:
topics_spread_merge2
# should the total sum of these add up to what's in the newly created "total_articles" column?
# one article can have multiple topics

,index,source,Abortion,Affordable housing,COVID-19,Climate change,Crime,Economy / Jobs,Education,Election laws,Guns,Health care,Immigration / border security,Inflation,Preserving democracy / Threats to democracy,Racial inequality,Supreme Court,total_articles
0,60545,285 South,NaN,NaN,1.0,1.0,2.0,5.0,3.0,NaN,1.0,1.0,5.0,NaN,NaN,NaN,NaN,5
1,49699,Albany Herald,53.0,49.0,147.0,78.0,246.0,494.0,307.0,12.0,71.0,404.0,54.0,198.0,26.0,35.0,35.0,1343
2,174127,Alma Times,1.0,13.0,45.0,26.0,16.0,117.0,62.0,NaN,NaN,140.0,1.0,69.0,NaN,4.0,1.0,292
3,173505,Alpharetta Revue & News,NaN,12.0,4.0,NaN,22.0,30.0,16.0,NaN,NaN,16.0,2.0,13.0,NaN,4.0,2.0,63
4,30316,Americus Times Recorder,1.0,10.0,4.0,1.0,26.0,35.0,29.0,NaN,12.0,17.0,1.0,8.0,NaN,NaN,1.0,104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,137871,Washington News Reporter,NaN,2.0,1.0,NaN,5.0,20.0,11.0,NaN,1.0,8.0,1.0,2.0,NaN,1.0,NaN,26
227,112249,Waycross Journal Herald,NaN,10.0,46.0,27.0,25.0,129.0,75.0,NaN,3.0,162.0,1.0,64.0,NaN,5.0,1.0,368
228,43810,Waynesboro True Citizen,3.0,9.0,6.0,1.0,36.0,40.0,33.0,NaN,14.0,26.0,2.0,16.0,NaN,2.0,NaN,160
229,14874,White County News,6.0,8.0,15.0,4.0,32.0,71.0,44.0,1.0,7.0,38.0,4.0,23.0,3.0,1.0,1.0,244
230,109935,Youth Today,1.0,6.0,11.0,4.0,15.0,18.0,20.0,NaN,6.0,21.0,NaN,10.0,NaN,6.0,2.0,24

In [ ]:
#topics_spread_merge2.to_excel('/content/drive/MyDrive/Georgia/Topic Dictionaries/Final_Georgia_topic_dictionary.xlsx')

## Facebook



> analyzed the same topic words from FB dataset

In [ ]:
# lemmatization if needed
import spacy
import re

nlp = spacy.load("en_core_web_sm", disable=['ner', 'parser']) # disabling Named Entity Recognition for speed

In [ ]:
import re #CA: already imported
#CA: I think thhis whole chunk is already being written out a couple of times elsewhere.

def get_lemmas_num(text):

    regex = re.compile('[^a-zA-Z0-9]')

    lemmas = []
    
    doc = nlp(text)

    for token in doc: 
        if ((token.is_stop == False) and (token.is_punct == False)) and (token.pos_ != 'PRON') and (token.text != 'NA'):
            lemmas.append(regex.sub('', token.lemma_))
    
    return ' '.join(lemmas)

In [ ]:
# https://docs.google.com/spreadsheets/d/1Cp5SB_tpnDemvSkQNMJSpokiYD7yLeMy/edit#gid=1208960361

import pandas as pd
import gspread as gs

gsheetid = '1Cp5SB_tpnDemvSkQNMJSpokiYD7yLeMy'
sheet_name = 'CrowdTangle_GA'

df_fb = pd.read_csv(f"https://docs.google.com/spreadsheets/d/{gsheetid}/export?format=csv") #CO: this approach is neat! I'm able to import it without re-writing the code

In [ ]:
set(df_fb['Page Name'].values.tolist())

{'Fort Gaines/Clay County, Georgia',
 'Gibson County News & Talk',
 "The Citizen's Times"}

In [ ]:
df_fb.groupby('Page Name').count()

,User Name,Facebook Id,Page Category,Page Admin Top Country,Page Description,Page Created,Likes at Posting,Followers at Posting,Post Created,Post Created Date,...,Link,Final Link,Image Text,Link Text,Description,Sponsor Id,Sponsor Name,Sponsor Category,Total Interactions (weighted — Likes 1x Shares 1x Comments 1x Love 1x Wow 1x Haha 1x Sad 1x Angry 1x Care 1x ),Overperforming Score
Page Name,,,,,,,,,,,,,,,,,,,,,
"Fort Gaines/Clay County, Georgia",0,57,57,0,0,0,57,0,57,57,...,30,0,1,11,6,0,0,0,57,57
Gibson County News & Talk,80,80,80,80,80,80,80,80,80,80,...,80,0,44,27,4,0,0,0,80,80
The Citizen's Times,0,4,4,4,4,4,4,4,4,4,...,4,0,1,3,1,0,0,0,4,4

In [ ]:
df_fb[['Message', 'Link', 'Image Text', 'Link Text', 'Description']] = df_fb[['Message', 'Link', 'Image Text', 'Link Text', 'Description']].fillna('').astype(str)
df_fb['doc'] = df_fb[['Message', 'Link', 'Image Text', 'Link Text', 'Description']].agg(' '.join, axis=1)
df_fb

,Page Name,User Name,Facebook Id,Page Category,Page Admin Top Country,Page Description,Page Created,Likes at Posting,Followers at Posting,Post Created,...,Final Link,Image Text,Link Text,Description,Sponsor Id,Sponsor Name,Sponsor Category,Total Interactions (weighted — Likes 1x Shares 1x Comments 1x Love 1x Wow 1x Haha 1x Sad 1x Angry 1x Care 1x ),Overperforming Score,doc
0,Gibson County News & Talk,GibsonCountyNewsTalk,100064394001351,COMMUNITY,US,A place for Gibson County Indiana to share New...,7/6/13 19:50,28211,30709.0,2022-10-04 09:47:43 CDT,...,NaN,,Photos from Gibson County News & Talk's post,,NaN,NaN,NaN,"2,611",13.81,Princeton... Semi into Bobes bldg corner of Ma...
1,Gibson County News & Talk,GibsonCountyNewsTalk,100064394001351,COMMUNITY,US,A place for Gibson County Indiana to share New...,7/6/13 19:50,28179,30635.0,2022-09-23 20:58:01 CDT,...,NaN,Lisa Dawn 3h … Union area please be looking fo...,,,NaN,NaN,NaN,"1,924",10.18,FOUND Safe Missing... From our neighbors to th...
2,Gibson County News & Talk,GibsonCountyNewsTalk,100064394001351,COMMUNITY,US,A place for Gibson County Indiana to share New...,7/6/13 19:50,28172,30619.0,2022-09-18 17:24:02 CDT,...,NaN,WNBA Final 78 71 Aces (3-1) Sun (1-3) Team LVA...,Photos from Gibson County News & Talk's post,,NaN,NaN,NaN,853,4.51,Jackie Young now a WNBA Champion as Vegas wins...
3,Gibson County News & Talk,GibsonCountyNewsTalk,100064394001351,COMMUNITY,US,A place for Gibson County Indiana to share New...,7/6/13 19:50,28198,30670.0,2022-09-27 09:19:14 CDT,...,NaN,Police- Fire- EMS Police Fire EMS GCN GIBSON C...,,,NaN,NaN,NaN,833,4.41,Sad to report but the accident between Oakland...
4,Gibson County News & Talk,GibsonCountyNewsTalk,100064394001351,COMMUNITY,US,A place for Gibson County Indiana to share New...,7/6/13 19:50,28201,30666.0,2022-09-25 05:49:36 CDT,...,NaN,"Princeton Community Bands- Princeton, Indiana ...",,,NaN,NaN,NaN,705,3.73,Congratulations to the Princeton band for taki...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,"Fort Gaines/Clay County, Georgia",NaN,127295104011858,none,NaN,NaN,NaN,2247,NaN,2022-09-15 20:13:21 CDT,...,NaN,,This is a re-share of a post,Just a reminder that the purpose of this group...,NaN,NaN,NaN,2,-13.00,When a person joins this group they agree to a...
137,The Citizen's Times,NaN,100063795900097,LOCAL,US,Breaking News and Community Announcements,9/8/16 17:31,1366,1545.0,2022-09-15 13:04:43 CDT,...,NaN,,Magnolia Alley Market,We're excited to announce our next #market for...,NaN,NaN,NaN,1,-0.92,Today! 4:30-7:30…. Kids activities and lots of...
138,The Citizen's Times,NaN,100063795900097,LOCAL,US,Breaking News and Community Announcements,9/8/16 17:31,1366,1545.0,2022-09-15 08:27:07 CDT,...,NaN,,Photos from The Citizen's Times's post,,NaN,NaN,NaN,1,-0.92,In this week’s edition! Pick up your copy in s...
139,"Fort Gaines/Clay County, Georgia",NaN,127295104011858,none,NaN,NaN,NaN,2248,NaN,2022-09-15 07:42:01 CDT,...,NaN,,,,NaN,NaN,NaN,1,-24.00,Clay County Schools will dismiss at 12:00 p.m....
140,"Fort Gaines/Clay County, Georgia",NaN,127295104011858,none,NaN,NaN,NaN,2253,NaN,2022-09-24 14:38:07 CDT,...,NaN,,,,NaN,NaN,NaN,0,-46.00,ZÖe Center for ABA and Development Services is...

In [ ]:
df_fb['source'] = df_fb['Page Name'].copy()

In [ ]:
df_fb = df_fb.reset_index()
df_fb["id"] = df_fb.index + 1

In [ ]:
df_fb['article_lemma_num'] = df_fb['doc'].str.lower().astype(str).apply(get_lemmas_num)
df_fb

,index,Page Name,User Name,Facebook Id,Page Category,Page Admin Top Country,Page Description,Page Created,Likes at Posting,Followers at Posting,...,Description,Sponsor Id,Sponsor Name,Sponsor Category,Total Interactions (weighted — Likes 1x Shares 1x Comments 1x Love 1x Wow 1x Haha 1x Sad 1x Angry 1x Care 1x ),Overperforming Score,doc,source,id,article_lemma_num
0,0,Gibson County News & Talk,GibsonCountyNewsTalk,100064394001351,COMMUNITY,US,A place for Gibson County Indiana to share New...,7/6/13 19:50,28211,30709.0,...,,NaN,NaN,NaN,"2,611",13.81,Princeton... Semi into Bobes bldg corner of Ma...,Gibson County News & Talk,1,princeton semi bobes bldg corner main n broadw...
1,1,Gibson County News & Talk,GibsonCountyNewsTalk,100064394001351,COMMUNITY,US,A place for Gibson County Indiana to share New...,7/6/13 19:50,28179,30635.0,...,,NaN,NaN,NaN,"1,924",10.18,FOUND Safe Missing... From our neighbors to th...,Gibson County News & Talk,2,find safe missing neighbor north pike county 0...
2,2,Gibson County News & Talk,GibsonCountyNewsTalk,100064394001351,COMMUNITY,US,A place for Gibson County Indiana to share New...,7/6/13 19:50,28172,30619.0,...,,NaN,NaN,NaN,853,4.51,Jackie Young now a WNBA Champion as Vegas wins...,Gibson County News & Talk,3,jackie young wnba champion vegas win 3 game 1 ...
3,3,Gibson County News & Talk,GibsonCountyNewsTalk,100064394001351,COMMUNITY,US,A place for Gibson County Indiana to share New...,7/6/13 19:50,28198,30670.0,...,,NaN,NaN,NaN,833,4.41,Sad to report but the accident between Oakland...,Gibson County News & Talk,4,sad report accident oakland city francisco sr ...
4,4,Gibson County News & Talk,GibsonCountyNewsTalk,100064394001351,COMMUNITY,US,A place for Gibson County Indiana to share New...,7/6/13 19:50,28201,30666.0,...,,NaN,NaN,NaN,705,3.73,Congratulations to the Princeton band for taki...,Gibson County News & Talk,5,congratulation princeton band take 1st place e...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,136,"Fort Gaines/Clay County, Georgia",NaN,127295104011858,none,NaN,NaN,NaN,2247,NaN,...,Just a reminder that the purpose of this group...,NaN,NaN,NaN,2,-13.00,When a person joins this group they agree to a...,"Fort Gaines/Clay County, Georgia",137,person join group agree abide rule httpswwwfac...
137,137,The Citizen's Times,NaN,100063795900097,LOCAL,US,Breaking News and Community Announcements,9/8/16 17:31,1366,1545.0,...,We're excited to announce our next #market for...,NaN,NaN,NaN,1,-0.92,Today! 4:30-7:30…. Kids activities and lots of...,The Citizen's Times,138,today 430 730 kid activity lot vendor ready ht...
138,138,The Citizen's Times,NaN,100063795900097,LOCAL,US,Breaking News and Community Announcements,9/8/16 17:31,1366,1545.0,...,,NaN,NaN,NaN,1,-0.92,In this week’s edition! Pick up your copy in s...,The Citizen's Times,139,week edition pick copy store httpswwwfacebookc...
139,139,"Fort Gaines/Clay County, Georgia",NaN,127295104011858,none,NaN,NaN,NaN,2248,NaN,...,,NaN,NaN,NaN,1,-24.00,Clay County Schools will dismiss at 12:00 p.m....,"Fort Gaines/Clay County, Georgia",140,clay county school dismiss 1200 pm noon today
140,140,"Fort Gaines/Clay County, Georgia",NaN,127295104011858,none,NaN,NaN,NaN,2253,NaN,...,,NaN,NaN,NaN,0,-46.00,ZÖe Center for ABA and Development Services is...,"Fort Gaines/Clay County, Georgia",141,ze center aba development service look hire re...

In [ ]:
#CO: this chunk is a repetition, I think
import re

def bigrams(s):
    return [i for i in s if re.search(r'\s', i) ]
  
def unigrams(s):
    return [i for i in s if not re.search(r'\s', i) ]


topic_words = list(set(val_words_08_st['topic_ng'].tolist()))

word_bigrams_done = list(set(bigrams(topic_words)))
print(word_bigrams_done)
print(len(word_bigrams_done))
                       
word_unigrams_done = unigrams(topic_words)
print(word_unigrams_done)
print(len(word_unigrams_done))

['green new deal', 'prior conviction', 'aggravated assault', 'arrest allegedly', 'sex crime', 'heartbeat act', 'gross domestic product', 'severance pay', 'charge felony', 'law enforcement', 'seasonal depression', 'electoral fraud', 'blood thinner', 'case rape', '12th grade', '40 caliber', 'bodily injury', 'accuse sexual', 'voter suppression', 'pro life', 'burglary suspect', 'mass shooting', 'deadly mass', 'reckless conduct', 'save money', 'price increase', 'methane emission', 'incest life', 'labor market', 'drug smuggling', 'associate degree', 'sexually abuse', 'conspiracy commit', 'simple battery', 'serial killer', 'reproductive health', 'charge dui', 'perform cpr', 'illegal alien', 'death row', 'gross national product', 'life sentence', 'cola increase', 'child porn', 'suspect flee', 'delta variant', 'global warming', 'illicit drug', 'labor shortage', 'election interference', 'consumer spending', 'federal reserve', 'private equity', 'wildfire smoke', 'booster dose', 'cut taxis', 'drug cartel', 'arm dealer', 'nurse practitioner', 'repeat offender', 'rise price', 'rental unit', 'kindergarten class', 'assault weapon', 'armed violence', 'disorderly conduct', 'rate hike', 'gender transition', 'emergency contraception', 'double mastectomy', 'woman color', 'commit theft', 'bachelor science', 'ivy league', 'hyde amendment', 'big lie', 'greenhouse gas', 'opioid addiction', 'high schooler', 'drug dealer', 'animal cruelty', 'birth control', 'defer action', 'bachelor art', 'southern border', 'coal fire', 'willful obstruction', 'labor delivery', 'anti choice', 'cancer diagnosis', 'arrest charge', 'suicide bombing', 'suspect arrest', 'possession intent', 'drug trafficker', 'venous thromboembolism', 'simple assault', 'integrity election', 'chronic condition', 'border mexico', 'assault battery', 'aggravate assault', 'fossil fuel', 'year prison', 'crack cocaine', 'fed raise', 'sexual harassment', 'physical therapy', 'border security', 'racial bias', 'white supremacy', 'attack capitol', 'sexual abuse', 'fifth grader', 'election fraud', 'convict felon', 'coinsurance copayment', 'living standard', 'white supremacist', 'substance abuse', 'racial disparity', 'possess intent', 'search warrant', 'incest save', 'certify presidential', 'take custody', 'cap trade', 'capitol riot', '9 mm', 'accusation sexual', 'heartbeat law', 'elementary middle', 'supply shortage', 'public indecency', 'maternal health', 'steal vehicle', 'overturn election', 'foreign national', 'suspect identify', 'charge count', 'heart disease', 'domestic terrorism', 'surgical procedure', 'reproductive healthcare', 'child pornography', 'borrower creditworthiness', 'accuse sexually', 'pull gun', 'suspect custody', 'gas emission', 'threaten kill', 'count possession', 'domestic abuse', 'doctorate degree', 'legal pathway', 'clean energy', 'sexual assault', 'illegally enter', 'knee surgery', 'riot capitol', 'standard living', 'fed chair', 'educational institution', 'occupational therapist', 'interest rate', 'right vote', 'sexual battery', 'fire shot', 'carbon emission', 'open fire', 'adjustment cola', 'protest racial', 'carbon neutrality', 'defense attorney', 'practice disproportionately', 'physical therapist', 'minimum wage', 'hike interest', 'drug paraphernalia', 'grocery price', 'nato visa', 'heartbeat bill', 'source methane', 'effort overturn', 'school shooting', 'post secondary', 'plan parenthood', 'break in', 'assault possession', 'drug pricing', '10th grade', 'anti gun', 'sleep habit', 'sexual exploitation', 'assault rifle', 'central bank', 'illegally cross', 'suicidal behavior', 'reproductive freedom', 'hate crime', 'road rage', 'drive unlicensed', 'urgent care', 'armed dangerous', 'national rifle association', 'surgical bypass', 'price soar', 'mental illness', 'independent contractor', 'cruelty child', 'count aggravated', 'human smuggling', 'possession methamphetamine', 'pre k', 'child abuse', 'threat democracy', 'indecent exposure', 'bipolar disorder', 'affordable housing', 'price hike', 'money laundering', 'corona 19', 'voter right', 'atrial fibrillation', 'race conscious', 'overturn 2020', 'sp 500', 'inflation fed', 'illegally possess', 'illegal drug', 'rehabilitation center', 'election security', 'fill prescription', 'possession drug', 'physically abuse', 'labor force', 'treasury yield', 'sexual violence', 'emergency medicine', 'cleveland clinic', 'obstruction officer', 'witness tell', 'arm trafficking', 'overturn result', 'federal prison', 'charge aggravated', 'sex abuse', 'sexual misconduct', 'control substance', 'assault capitol', 'voter identification', 'election denier', 'cognitive impairment', 'birth defect', 'consumer price', 'sleep duration', 'allege sexual', 'school massacre', 'capitol attack', 'migrant cross', 'cognitive behavioral', 'affordable care', 'cell metabolism', 'hb 481', 'attempt overturn', 'identity theft', 'enroll medicare', 'personhood law', 'sexually assault', 'semi automatic', 'bachelor degree', 'january 6', 'death penalty', 'pro choice', 'moderate income', 'espionage act', 'supreme court', 'life prison', 'protection order', 'illicit market', 'election integrity', 'primary care', 'stock index', 'accuse kill', 'staff shortage', 'disproportionately impact', 'sanctuary city', 'raise interest', 'gun violence', 'unplanned pregnancy', 'drug trafficking']
291
['covid19', 'alzheimer', 'abduction', 'diabetes', 'unionized', 'carjacker', 'profitability', 'dui', 'murderer', 'molest', 'ammunition', 'tutoring', 'breastfeed', 'trafficking', 'job', 'lumpectomy', 'paramedic', 'hospitalist', 'workforce', 'impeach', 'doctor', 'academic', 'pandemic', 'schoolwork', 'rifle', 'colonoscopy', 'killing', 'clinical', 'diabete', 'robbery', 'ib', 'stimulus', 'inflationary', 'telemedicine', 'embezzlement', 'bivalent', 'ultrasound', 'murder', 'faculty', 'obamacare', 'rsv', 'sick', 'graduate', 'graduation', 'rapist', 'smuggle', 'therapeutic', 'manslaughter', 'immunotherapy', 'roe', 'racketeering', 'nra', 'smuggling', 'tuition', 'anemia', 'lending', 'cardiologist', 'dow', 'munition', 'educate', 'budget', 'semiautomatic', 'violent', 'student', 'environmentalist', 'ba46', 'diagnose', 'insulin', 'kidnapping', 'cardiac', 'prenatal', 'terror', 'abused', 'medicated', 'unemployed', 'fentanyl', 'apartment', 'price', 'medicinal', 'trespassing', 'diagnosis', 'undocumented', 'instructional', 'anticancer', 'pension', 'criminally', 'outpatient', 'economy', '401k', 'telehealth', 'medication', 'emts', 'racialize', 'gerrymander', 'heloc', 'therapy', 'vocational', 'infectious', 'pfizer', 'methadone', 'slavery', 'clinician', 'burglary', 'trafficker', 'borrower', 'economist', 'gunfire', 'shooting', 'naturalization', 'neurology', 'surgery', 'coronavirus', 'mortgage', 'recession', 'robber', 'taxation', 'medical', 'repatriation', 'bleeding', 'hypertension', 'insurrection', 'perpetrator', 'inflation', 'bribe', 'pediatric', 'pacemaker', 'shoplifting', 'obesity', 'ophthalmology', 'refinance', 'carjack', 'bribery', 'ems', 'k12', 'urology', 'menstruation', 'dentist', 'thyroidectomy', 'methamphetamine', 'slaying', 'novavax', 'layoff', 'pharmacist', 'respiratory', 'marijuana', 'gunman', 'paralysis', 'fraud', 'drought', 'pregnant', 'shooter', 'scholarship', 'hbcu', 'antidepressant', 'diploma', 'cost', 'furlough', 'arthritis', 'nursing', 'psychosocial', 'cardiomyopathy', 'dementia', 'unemployment', 'mammography', 'felony', 'glacial', 'macroeconomic', 'orthopaedic', 'unlawful', 'vandalism', 'rioter', 'immigration', 'ect', 'theft', 'racist', 'educational', 'bombing', 'salary', 'pharmacy', 'blindness', 'medically', 'gdp', 'homicide', 'terrorism', 'emission', 'killer', 'homeschool', 'physician', 'psychiatry', 'masking', 'undergraduate', 'citizenship', 'chemotherapy', 'extortion', 'omicron', 'melanoma', 'obstetrician', 'refugee', 'immigrate', 'industry', 'burglar', 'misconduct', 'migraine', 'immigrant', 'deportation', 'stroke', 'sepsis', 'riot', 'poison', 'pistol', 'dental', 'rape', 'neurologist', '911', 'medicaid', 'segregation', 'unionize', 'schizophrenic', 'gun', 'climate', 'criminal', 'assailant', 'health', 'firearm', 'oncologist', 'migrate', 'carjacking', 'gang', 'smuggled', 'stabbing', 'semester', 'employed', 'rehire', 'racism', 'crime', 'employ', 'arson', 'healthcare', 'misdemeanor', 'illness', 'gerrymandering', 'cartel', 'cocaine', 'moderna', 'oncology', 'shotgun', 'economic', 'tenant', 'optometrist', 'prediabete', 'policeman', 'stretcher', 'unvaccinated', 'rehabilitation', 'ecstasy', 'schooling', 'grope', 'physicians', 'smuggler', 'cortisone', 'abuser', 'ar15', 'contraception', 'budgeting', 'income', 'homebuyer', 'glock', 'depletion', 'classroom', 'asthma', 'thief', 'employee', 'education', 'custody', 'massacre', 'industries', 'fetus', 'abortion', 'wage', 'endocrinology', 'ak47', 'business', 'psychiatric', 'anxiety', 'pediatrician', 'endocrinologist', 'prostitution', 'disabled', 'fetal', 'teacher', 'curriculum', 'meth', 'pneumonia', 'handgun', 'ibd', 'cardiovascular', 'covid', 'lethal', 'neurosurgeon', 'housing']
300

In [ ]:

import numpy as np

df_fb['topic_ng1'] = df_fb['article_lemma_num'].astype(str).apply(lambda x: set.intersection(set(x.split(' ')), word_unigrams_done))
df_fb['topic_ng2'] = df_fb['article_lemma_num'].astype(str).apply(lambda x: [i for i in word_bigrams_done if i in x])

In [ ]:
#CO: This seems like a repetition. Maybe worth putting into a function to avoid repeating it ?
# topic only
text_df_fb_uni = df_fb[ df_fb['topic_ng1'].str.len() >= 1]
text_df_fb_bi = df_fb[ df_fb['topic_ng2'].str.len() >= 1]

text_df_fb_uni = text_df_fb_uni[['id', 'source', 'topic_ng1']]
text_df_fb_bi = text_df_fb_bi[['id', 'source','topic_ng2']]

text_df_fb_uni_df_fb = text_df_fb_uni.explode('topic_ng1')
text_df_fb_bi_df_fb = text_df_fb_bi.explode('topic_ng2')

text_df_fb_uni_df_fb = text_df_fb_uni_df_fb.rename(columns={'topic_ng1': 'topic_ng'})
text_df_fb_bi_df_fb = text_df_fb_bi_df_fb.rename(columns={'topic_ng2': 'topic_ng'})

text_df_fb_ng_all = pd.concat([text_df_fb_uni_df_fb, text_df_fb_bi_df_fb])

text_df_fb_ng_all_merge = pd.merge(text_df_fb_ng_all, val_words_08_st, how='left', on=['topic_ng'])

In [ ]:
text_df_fb_ng_all_merge

,id,source,topic_ng,Unnamed: 0,topic,final_review
0,4,Gibson County News & Talk,ems,303,Health care,1
1,16,Gibson County News & Talk,job,455,Economy / Jobs,1
2,18,Gibson County News & Talk,ems,303,Health care,1
3,21,Gibson County News & Talk,economic,270,Economy / Jobs,1
4,21,Gibson County News & Talk,business,94,Economy / Jobs,1
5,22,Gibson County News & Talk,business,94,Economy / Jobs,1
6,25,Gibson County News & Talk,business,94,Economy / Jobs,1
7,26,Gibson County News & Talk,ems,303,Health care,1
8,27,Gibson County News & Talk,ems,303,Health care,1
9,28,Gibson County News & Talk,business,94,Economy / Jobs,1
10,29,"Fort Gaines/Clay County, Georgia",job,455,Economy / Jobs,1
11,34,Gibson County News & Talk,ems,303,Health care,1
12,39,Gibson County News & Talk,ems,303,Health care,1
13,44,Gibson County News & Talk,theft,855,Crime,1
14,44,Gibson County News & Talk,911,7,Crime,1
15,44,Gibson County News & Talk,vandalism,897,Crime,1
16,45,Gibson County News & Talk,classroom,142,Education,1
17,62,Gibson County News & Talk,business,94,Economy / Jobs,1
18,64,"Fort Gaines/Clay County, Georgia",scholarship,746,Education,1
19,73,"Fort Gaines/Clay County, Georgia",business,94,Economy / Jobs,1
20,78,Gibson County News & Talk,medical,503,Health care,1
21,82,Gibson County News & Talk,ems,303,Health care,1
22,87,"Fort Gaines/Clay County, Georgia",inflation,442,Inflation,1
23,108,The Citizen's Times,student,824,Education,1
24,108,The Citizen's Times,health,382,Health care,1
25,108,The Citizen's Times,ems,303,Health care,1
26,110,"Fort Gaines/Clay County, Georgia",cost,261,Inflation,1
27,110,"Fort Gaines/Clay County, Georgia",student,824,Education,1
28,135,"Fort Gaines/Clay County, Georgia",therapy,858,Health care,1
29,135,"Fort Gaines/Clay County, Georgia",diagnosis,222,Health care,1
30,135,"Fort Gaines/Clay County, Georgia",diagnose,221,Health care,1
31,13,Gibson County News & Talk,law enforcement,475,Crime,1

In [ ]:

text_df_fb_ng_all_merge_count = text_df_fb_ng_all_merge.groupby(['source', 'topic', 'id']).count().reset_index()
text_df_fb_ng_all_merge_count_art = text_df_fb_ng_all_merge_count.groupby(['source', 'topic']).count().reset_index()

In [ ]:
text_df_fb_ng_all_merge_count_art

,source,topic,id,topic_ng,Unnamed: 0,final_review
0,"Fort Gaines/Clay County, Georgia",Economy / Jobs,2,2,2,2
1,"Fort Gaines/Clay County, Georgia",Education,2,2,2,2
2,"Fort Gaines/Clay County, Georgia",Health care,1,1,1,1
3,"Fort Gaines/Clay County, Georgia",Inflation,2,2,2,2
4,Gibson County News & Talk,Crime,2,2,2,2
5,Gibson County News & Talk,Economy / Jobs,6,6,6,6
6,Gibson County News & Talk,Education,1,1,1,1
7,Gibson County News & Talk,Health care,8,8,8,8
8,The Citizen's Times,Education,1,1,1,1
9,The Citizen's Times,Health care,1,1,1,1

In [ ]:
topics_spread_fb = text_df_fb_ng_all_merge_count_art.pivot_table('id', ['source'], 'topic').reset_index()
topics_spread_fb #CO: Why do we want to ID col to be called topic? Topic seems to be the colum names

topic,source,Crime,Economy / Jobs,Education,Health care,Inflation
0,"Fort Gaines/Clay County, Georgia",NaN,2.0,2.0,1.0,2.0
1,Gibson County News & Talk,2.0,6.0,1.0,8.0,NaN
2,The Citizen's Times,NaN,NaN,1.0,1.0,NaN

In [ ]:
topics_spread_fb = topics_spread_fb.reset_index()
topics_spread_fb #CO: Why have 3 index columns at this point?

topic,level_0,index,source,Crime,Economy / Jobs,Education,Health care,Inflation
0,0,0,"Fort Gaines/Clay County, Georgia",NaN,2.0,2.0,1.0,2.0
1,1,1,Gibson County News & Talk,2.0,6.0,1.0,8.0,NaN
2,2,2,The Citizen's Times,NaN,NaN,1.0,1.0,NaN

In [ ]:
topics_spread_fb_merge = topics_spread_fb.sort_values('source')
topics_spread_fb_merge #CO: Sorting doesn't appear to change anything here.

topic,level_0,index,source,Crime,Economy / Jobs,Education,Health care,Inflation
0,0,0,"Fort Gaines/Clay County, Georgia",NaN,2.0,2.0,1.0,2.0
1,1,1,Gibson County News & Talk,2.0,6.0,1.0,8.0,NaN
2,2,2,The Citizen's Times,NaN,NaN,1.0,1.0,NaN

In [ ]:

final_topic = val_words_08_st[['topic']].drop_duplicates().reset_index()
final_topic[~final_topic['topic'].isin(topic_column_list)].values
final_topic

    index                                        topic
0       0                                     Abortion
1      20                           Affordable housing
2      35                               Climate change
3      55                                     COVID-19
4      70                                        Crime
5     260                               Economy / Jobs
6     329                                    Education
7     369                                Election laws
8     380                                         Guns
9     404                                  Health care
10    551                Immigration / border security
11    574                                    Inflation
12    585  Preserving democracy / Threats to democracy
13    604                            Racial inequality
14    620                                Supreme Court

In [ ]:

topics_spread_fb_merge_d1 = topics_spread_fb_merge[['index', 'source']]
topics_spread_fb_merge_d2 = topics_spread_fb_merge.drop(columns=['index', 'source'])
topics_spread_fb_merge_d2 = topics_spread_fb_merge_d2[sorted(topics_spread_fb_merge_d2)]
topics_spread_fb_merge_d2

topic  Crime  Economy / Jobs  Education  Health care  Inflation  level_0
0        NaN             2.0        2.0          1.0        2.0        0
1        2.0             6.0        1.0          8.0        NaN        1
2        NaN             NaN        1.0          1.0        NaN        2

In [ ]:

topics_spread_fb_merge2 = pd.concat([topics_spread_fb_merge_d1, topics_spread_fb_merge_d2], axis=1)

# merge # of articles by source
df_fb_count = df_fb.groupby('source')['id'].count().reset_index()
df_fb_count = df_fb_count.rename(columns={'id': 'total_articles'})


topics_spread_fb_merge2 = pd.merge(topics_spread_fb_merge2, df_fb_count, on='source', how='left')
topics_spread_fb_merge2

,index,source,Crime,Economy / Jobs,Education,Health care,Inflation,level_0,total_articles
0,0,"Fort Gaines/Clay County, Georgia",NaN,2.0,2.0,1.0,2.0,0,57
1,1,Gibson County News & Talk,2.0,6.0,1.0,8.0,NaN,1,80
2,2,The Citizen's Times,NaN,NaN,1.0,1.0,NaN,2,4

In [ ]:
set(topics_spread_fb_merge2['source'].values.tolist())

{'Fort Gaines/Clay County, Georgia',
 'Gibson County News & Talk',
 "The Citizen's Times"}

In [ ]:
topics_spread_fb_merge2_format = pd.concat([topics_spread_merge2, topics_spread_fb_merge2]).reset_index() #CO: ValueError: cannot insert level_0, already exists

ValueError: ignored

In [ ]:
topics_spread_fb_only = topics_spread_fb_merge2_format[topics_spread_fb_merge2_format['source'].str.contains("Fort Gaines|Gibson County|Citizen\'s Times")]

NameError: ignored

In [ ]:
topics_spread_fb_only #CO: There are a lot of NaN's here. Also, the values appear to be changed (e.g., for health care)

,level_0,index,source,Abortion,Affordable housing,COVID-19,Climate change,Crime,Economy / Jobs,Education,Election laws,Guns,Health care,Immigration / border security,Inflation,Preserving democracy / Threats to democracy,Racial inequality,Supreme Court,total_articles
231,0,0,"Fort Gaines/Clay County, Georgia",NaN,NaN,NaN,NaN,NaN,2.0,2.0,NaN,NaN,1.0,NaN,2.0,NaN,NaN,NaN,57
232,1,1,Gibson County News & Talk,NaN,NaN,NaN,NaN,2.0,6.0,1.0,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,80
233,2,2,The Citizen's Times,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,4

In [ ]:
topics_spread_fb_only.to_excel('/content/drive/MyDrive/Georgia/Topic Dictionaries/Final_Georgia_topic_dictionary_FB.xlsx')