<a href="https://colab.research.google.com/github/ykim71/georgia_analysis/blob/main/(3_1)_Georgia_topic_words_mturk_validation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Validation - MTurk v1

In [ ]:
%cd /content/drive/MyDrive/Georgia_YK/MTurk

/content/drive/.shortcut-targets-by-id/1NUNYUl9lUoPLVhCC3wJ_nEc9wj5eMq-o/Georgia/MTurk

In [ ]:
import pandas as pd

Set1 = pd.read_csv('Set1_Georgia.csv')
Set2 = pd.read_csv('Set2_Georgia.csv')
Set3 = pd.read_csv('Set3_Georgia.csv')
Set4 = pd.read_csv('Set4_Georgia.csv')
Set5 = pd.read_csv('Set5_Georgia.csv')
Set6 = pd.read_csv('Set6_Georgia.csv')

In [ ]:
mturk_val = pd.concat([Set1, Set1, Set2, Set3, Set4, Set5, Set6])

In [ ]:
mturk_val_sel = mturk_val.loc[:, mturk_val.columns.str.contains('Input|Answer|WorkerId|AssignmentId') ]

In [ ]:
mturk_val_sel.columns

Index(['AssignmentId', 'WorkerId', 'Input.id1', 'Input.random', 'Input.id1.1',
       'Input.word1', 'Input.topic1', 'Input.sentence1', 'Input.id2',
       'Input.random.1', 'Input.id2.1', 'Input.word2', 'Input.topic2',
       'Input.sentence2', 'Input.id3', 'Input.random.2', 'Input.id3.1',
       'Input.word3', 'Input.topic3', 'Input.sentence3', 'Input.id4',
       'Input.random.3', 'Input.id4.1', 'Input.word4', 'Input.topic4',
       'Input.sentence4', 'Input.id5', 'Input.random.4', 'Input.id5.1',
       'Input.word5', 'Input.topic5', 'Input.sentence5', 'Answer.mention1',
       'Answer.mention2', 'Answer.mention3', 'Answer.mention4',
       'Answer.mention5'],
      dtype='object')

In [ ]:
mturk_val_sel_t1 = mturk_val_sel[['AssignmentId', 'WorkerId', 'Input.id1', 'Input.word1', 'Input.topic1', 'Answer.mention1']]
mturk_val_sel_t1.rename(columns={'Input.id1': 'Input.id', 'Input.word1': 'Input.word', 'Input.topic1': 'Input.topic', 'Answer.mention1': 'Answer.mention' }, inplace=True)

mturk_val_sel_t2 = mturk_val_sel[['AssignmentId', 'WorkerId', 'Input.id2', 'Input.word2', 'Input.topic2', 'Answer.mention2']]
mturk_val_sel_t2.rename(columns={'Input.id2': 'Input.id','Input.word2': 'Input.word', 'Input.topic2': 'Input.topic', 'Answer.mention2': 'Answer.mention' }, inplace=True)

mturk_val_sel_t3 = mturk_val_sel[['AssignmentId', 'WorkerId', 'Input.id3', 'Input.word3', 'Input.topic3', 'Answer.mention3']]
mturk_val_sel_t3.rename(columns={'Input.id3': 'Input.id','Input.word3': 'Input.word', 'Input.topic3': 'Input.topic', 'Answer.mention3': 'Answer.mention' }, inplace=True)

mturk_val_sel_t4 = mturk_val_sel[['AssignmentId', 'WorkerId', 'Input.id4', 'Input.word4', 'Input.topic4', 'Answer.mention4']]
mturk_val_sel_t4.rename(columns={'Input.id4': 'Input.id','Input.word4': 'Input.word', 'Input.topic4': 'Input.topic', 'Answer.mention4': 'Answer.mention' }, inplace=True)

mturk_val_sel_t5 = mturk_val_sel[['AssignmentId', 'WorkerId', 'Input.id5', 'Input.word5', 'Input.topic5', 'Answer.mention5']]
mturk_val_sel_t5.rename(columns={'Input.id5': 'Input.id','Input.word5': 'Input.word', 'Input.topic5': 'Input.topic', 'Answer.mention5': 'Answer.mention' }, inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [ ]:
mturk_val_sel_merge = pd.concat([mturk_val_sel_t1, mturk_val_sel_t2, mturk_val_sel_t3, mturk_val_sel_t4, mturk_val_sel_t5])

In [ ]:
len(mturk_val_sel_merge)

28985

In [ ]:
mturk_val_sel_merge = mturk_val_sel_merge.dropna(subset=['WorkerId']) # 22616

In [ ]:
mturk_val_sel_merge = mturk_val_sel_merge.drop_duplicates() # same AssignmentID + workerID

In [ ]:
mturk_val_sel_merge # 28985 -> 18585

,AssignmentId,WorkerId,Input.id,Input.word,Input.topic,Answer.mention
0,3WI0P0II62BUJWAMKTQ7CVRABUARDA,A1OZA20YSR6KJ1,393.0,housing,Affordable housing,1.0
1,3TVRFO09GLYXE4KQ69UNKQL3LMNXLM,A3T9WZOUQGE2UW,393.0,housing,Affordable housing,1.0
2,3OLQQLKKNT8IDE598JSIGMN41P7EJO,A29C82GMR5BN7I,7446.0,prescribe,Health care,1.0
3,3Z3ZLGNNSJDWP3TPEPVVUWVTOXB3QJ,AZZA3J049G7R5,7446.0,prescribe,Health care,2.0
4,39GXDJN2OUXAV8VCC5K1R02CL9M8VA,A3T9WZOUQGE2UW,7314.0,pharmacist,Health care,1.0
...,...,...,...,...,...,...
616,3KIBXJ1WD6DZ0POGKIVQMDHVKKEOKA,A7SW6SVNJ5V6O,3936.0,borrowing cost,Economy / Jobs,1.0
617,3MAOD8E57RTN24NBIMA2XIPSQJRXNW,A3AN6Q3JPCFPI,4966.0,save,Economy / Jobs,2.0
618,35LDD5557BNB0M3472GDU9SQPGXMKJ,AKNYT1NTK2UFK,4966.0,save,Economy / Jobs,2.0
619,3ZY8KE4ISKMG1CV8YZ11DRNCFJ1QV4,A2OVX9UW5WANQE,7085.0,metabolic,Health care,1.0
620,3F0BG9B9MQ6NZOLY7BFFKZABSAH7Y2,ATIVK9XUANIUE,7085.0,metabolic,Health care,2.0

In [ ]:
import numpy as np

mturk_val_sel_merge['Yes'] = np.where(mturk_val_sel_merge['Answer.mention'] == 1, 1, 0)

In [ ]:
mturk_val_sel_merge

,AssignmentId,WorkerId,Input.id,Input.word,Input.topic,Answer.mention,Yes
0,3WI0P0II62BUJWAMKTQ7CVRABUARDA,A1OZA20YSR6KJ1,393.0,housing,Affordable housing,1.0,1
1,3TVRFO09GLYXE4KQ69UNKQL3LMNXLM,A3T9WZOUQGE2UW,393.0,housing,Affordable housing,1.0,1
2,3OLQQLKKNT8IDE598JSIGMN41P7EJO,A29C82GMR5BN7I,7446.0,prescribe,Health care,1.0,1
3,3Z3ZLGNNSJDWP3TPEPVVUWVTOXB3QJ,AZZA3J049G7R5,7446.0,prescribe,Health care,2.0,0
4,39GXDJN2OUXAV8VCC5K1R02CL9M8VA,A3T9WZOUQGE2UW,7314.0,pharmacist,Health care,1.0,1
...,...,...,...,...,...,...,...
616,3KIBXJ1WD6DZ0POGKIVQMDHVKKEOKA,A7SW6SVNJ5V6O,3936.0,borrowing cost,Economy / Jobs,1.0,1
617,3MAOD8E57RTN24NBIMA2XIPSQJRXNW,A3AN6Q3JPCFPI,4966.0,save,Economy / Jobs,2.0,0
618,35LDD5557BNB0M3472GDU9SQPGXMKJ,AKNYT1NTK2UFK,4966.0,save,Economy / Jobs,2.0,0
619,3ZY8KE4ISKMG1CV8YZ11DRNCFJ1QV4,A2OVX9UW5WANQE,7085.0,metabolic,Health care,1.0,1
620,3F0BG9B9MQ6NZOLY7BFFKZABSAH7Y2,ATIVK9XUANIUE,7085.0,metabolic,Health care,2.0,0

In [ ]:
temp = mturk_val_sel_merge.groupby(['Input.topic', 'Input.word'])['Yes'].agg(sum).reset_index()

In [ ]:
mturk_val_sel_merge_count = mturk_val_sel_merge.groupby(['Input.topic', 'Input.word' ,'Yes'])['Answer.mention'].count().reset_index()

In [ ]:
temp2 = mturk_val_sel_merge_count.groupby(['Input.topic', 'Input.word'])['Answer.mention'].agg(sum).reset_index()

In [ ]:
temp_merge = pd.merge(temp, temp2, on=['Input.topic', 'Input.word'], how='left')

In [ ]:
temp_merge['perc'] = temp_merge['Yes']/temp_merge['Answer.mention']

In [ ]:
temp_merge['qualified08'] = np.where(temp_merge['perc'] >= 0.8, 1, 0)

In [ ]:
temp_merge = temp_merge.rename(columns={'Input.topic': 'topic', 'Input.word': 'topic_ng'})

temp_merge.to_excel('/content/drive/MyDrive/Georgia/MTurk/Mturk_validation_words_final.xlsx')

## validation mturk v2

In [ ]:
%cd /content/drive/MyDrive/Georgia_YK/MTurk

/content/drive/.shortcut-targets-by-id/1NUNYUl9lUoPLVhCC3wJ_nEc9wj5eMq-o/Georgia_YK/MTurk

In [ ]:
import pandas as pd

Set1 = pd.read_csv('Georgia_Set1_031623.csv')
Set2 = pd.read_csv('Georgia_Set2_031623.csv')

mturk_val = pd.concat([Set1, Set1])

mturk_val_sel = mturk_val.loc[:, mturk_val.columns.str.contains('Input|Answer|WorkerId|AssignmentId') ]

mturk_val_sel_t1 = mturk_val_sel[['AssignmentId', 'WorkerId', 'Input.id1', 'Input.word1', 'Input.topic1', 'Answer.mention1']]
mturk_val_sel_t1.rename(columns={'Input.id1': 'Input.id', 'Input.word1': 'Input.word', 'Input.topic1': 'Input.topic', 'Answer.mention1': 'Answer.mention' }, inplace=True)

mturk_val_sel_t2 = mturk_val_sel[['AssignmentId', 'WorkerId', 'Input.id2', 'Input.word2', 'Input.topic2', 'Answer.mention2']]
mturk_val_sel_t2.rename(columns={'Input.id2': 'Input.id','Input.word2': 'Input.word', 'Input.topic2': 'Input.topic', 'Answer.mention2': 'Answer.mention' }, inplace=True)

<ipython-input-5-0a871ac95e82>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mturk_val_sel_t1.rename(columns={'Input.id1': 'Input.id', 'Input.word1': 'Input.word', 'Input.topic1': 'Input.topic', 'Answer.mention1': 'Answer.mention' }, inplace=True)
<ipython-input-5-0a871ac95e82>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mturk_val_sel_t2.rename(columns={'Input.id2': 'Input.id','Input.word2': 'Input.word', 'Input.topic2': 'Input.topic', 'Answer.mention2': 'Answer.mention' }, inplace=True)

In [ ]:
mturk_val_sel_merge = pd.concat([mturk_val_sel_t1, mturk_val_sel_t2])

In [ ]:
mturk_val_sel_merge

,AssignmentId,WorkerId,Input.id,Input.word,Input.topic,Answer.mention,Yes
0,3U0SRXB7CEO3581Z9N4A8034SB4RND,A16VJHZWB1M2CB,91142,drug alcohol,Health care,2.0,0
1,3X4JMASXCNSD45S3CKGMX92N2WT0B1,A6KOTWP7N7RLU,91142,drug alcohol,Health care,1.0,1
2,3VE8AYVF8NGLZB9MCQFX9EZQ0SZF8N,A1198W1SPF1R4,140153,antidepressant,Health care,1.0,1
3,3UXUOQ9OKFGM36NVR51ZHDS4SSF7AE,A2KBTDHM44J7X4,140153,antidepressant,Health care,1.0,1
4,3U84XHCDIDWQLRDK1ZJRVUZ3ABRZ4I,A16VJHZWB1M2CB,181807,suspect custody,Crime,1.0,1
...,...,...,...,...,...,...,...
617,3HVVDCPGTFBAXMI5KEIGPV2TKG5TYI,AIIUR6K06BZDO,147632,stock bond,Economy / Jobs,3.0,0
618,3QILPRALQ6EXN3M3AEYAHJ8Z2JJN80,A37W0GRXSM04LX,2160,independent contractor,Economy / Jobs,1.0,1
619,3A1PQ49WVI0N27G78VUIXPOV213H10,AIIUR6K06BZDO,2160,independent contractor,Economy / Jobs,1.0,1
620,3300DTYQT30ZZ19M39CRDNZQIX4EQD,A27MFQYC1WKOM8,122351,taxable income,Economy / Jobs,3.0,0
621,3RYC5T2D74C38TDCP2H2CP8ZSQ4PR6,A6KOTWP7N7RLU,122351,taxable income,Economy / Jobs,1.0,1

In [ ]:
mturk_val_sel_merge = mturk_val_sel_merge.dropna(subset=['WorkerId']) # 22616
mturk_val_sel_merge

,AssignmentId,WorkerId,Input.id,Input.word,Input.topic,Answer.mention
0,3U0SRXB7CEO3581Z9N4A8034SB4RND,A16VJHZWB1M2CB,91142,drug alcohol,Health care,2.0
1,3X4JMASXCNSD45S3CKGMX92N2WT0B1,A6KOTWP7N7RLU,91142,drug alcohol,Health care,1.0
2,3VE8AYVF8NGLZB9MCQFX9EZQ0SZF8N,A1198W1SPF1R4,140153,antidepressant,Health care,1.0
3,3UXUOQ9OKFGM36NVR51ZHDS4SSF7AE,A2KBTDHM44J7X4,140153,antidepressant,Health care,1.0
4,3U84XHCDIDWQLRDK1ZJRVUZ3ABRZ4I,A16VJHZWB1M2CB,181807,suspect custody,Crime,1.0
...,...,...,...,...,...,...
617,3HVVDCPGTFBAXMI5KEIGPV2TKG5TYI,AIIUR6K06BZDO,147632,stock bond,Economy / Jobs,3.0
618,3QILPRALQ6EXN3M3AEYAHJ8Z2JJN80,A37W0GRXSM04LX,2160,independent contractor,Economy / Jobs,1.0
619,3A1PQ49WVI0N27G78VUIXPOV213H10,AIIUR6K06BZDO,2160,independent contractor,Economy / Jobs,1.0
620,3300DTYQT30ZZ19M39CRDNZQIX4EQD,A27MFQYC1WKOM8,122351,taxable income,Economy / Jobs,3.0
621,3RYC5T2D74C38TDCP2H2CP8ZSQ4PR6,A6KOTWP7N7RLU,122351,taxable income,Economy / Jobs,1.0

In [ ]:

import numpy as np

mturk_val_sel_merge['Yes'] = np.where(mturk_val_sel_merge['Answer.mention'] == 1, 1, 0)

temp = mturk_val_sel_merge.groupby(['Input.topic', 'Input.word'])['Yes'].agg(sum).reset_index()

mturk_val_sel_merge_count = mturk_val_sel_merge.groupby(['Input.topic', 'Input.word' ,'Yes'])['Answer.mention'].count().reset_index()

temp2 = mturk_val_sel_merge_count.groupby(['Input.topic', 'Input.word'])['Answer.mention'].agg(sum).reset_index()

temp_merge = pd.merge(temp, temp2, on=['Input.topic', 'Input.word'], how='left')

temp_merge['perc'] = temp_merge['Yes']/temp_merge['Answer.mention']

temp_merge['qualified08'] = np.where(temp_merge['perc'] >= 0.8, 1, 0)

In [ ]:

temp_merge = temp_merge.rename(columns={'Input.topic': 'topic', 'Input.word': 'topic_ng'})

In [ ]:
temp_merge

,topic,topic_ng,Yes,Answer.mention,perc,qualified08
0,Abortion,access reproductive,6,8,0.750,0
1,Abortion,bodily autonomy,6,8,0.750,0
2,Abortion,brittany fonteno,6,8,0.750,0
3,Abortion,fetal,14,16,0.875,1
4,Abortion,personhood law,4,4,1.000,1
...,...,...,...,...,...,...
271,Racial inequality,marginalization,2,4,0.500,0
272,Racial inequality,practice disproportionately,16,16,1.000,1
273,Racial inequality,protest racial,8,8,1.000,1
274,Racial inequality,racial disparity,4,4,1.000,1
275,Racial inequality,racialize,8,8,1.000,1

In [ ]:
temp_merge.to_excel('/content/drive/MyDrive/Georgia_YK/MTurk/Mturk_validation_words_final_V2.xlsx')

## main topic analysis

In [ ]:
import pandas as pd

df = pd.read_pickle('/content/drive/MyDrive/Georgia/Web Scraping/Georgia_data_v2_translation_ner2_lem.pkl')

In [ ]:

val_words_R1 = pd.read_excel('/content/drive/MyDrive/Georgia_YK/MTurk/Mturk_validation_words_final_upd.xlsx')
val_words_R2 = pd.read_excel('/content/drive/MyDrive/Georgia_YK/MTurk/Mturk_validation_words_final_V2.xlsx')

In [ ]:

# val_words_R1 = pd.read_excel('/content/drive/MyDrive/Georgia_YK/MTurk/Mturk_validation_words_final.xlsx')

# val_words_R1[val_words_R1['topic_ng'] =='6-Jan']
# val_words_R1.at[4,'topic_ng']='january 6'
# val_words_R1.to_excel('/content/drive/MyDrive/Georgia/MTurk/Mturk_validation_words_final_upd.xlsx')

,Unnamed: 0.1,Unnamed: 0,topic,topic_ng,Yes,Answer.mention,perc,qualified08
833,833,833,Preserving democracy / Threats to democracy,6-Jan,18,20,0.9,1

In [ ]:
val_words_R1[val_words_R1['topic_ng'] =='6-Jan']

Empty DataFrame
Columns: [Unnamed: 0.2, Unnamed: 0, Unnamed: 0.1, topic, topic_ng, Yes, Answer.mention, perc, qualified08]
Index: []

In [ ]:
val_words = pd.concat([val_words_R1, val_words_R2])

In [ ]:
val_words

,Unnamed: 0.2,Unnamed: 0,Unnamed: 0.1,topic,topic_ng,Yes,Answer.mention,perc,qualified08
0,0.0,527,527.0,Education,12th grade,16,20,0.80,1
1,1.0,594,594.0,Guns,2nd amendment,13,20,0.65,0
2,2.0,595,595.0,Guns,40 caliber,18,20,0.90,1
3,3.0,383,383.0,Economy / Jobs,401k,17,20,0.85,1
4,4.0,833,833.0,Preserving democracy / Threats to democracy,january 6,18,20,0.90,1
...,...,...,...,...,...,...,...,...,...
271,NaN,271,NaN,Racial inequality,marginalization,2,4,0.50,0
272,NaN,272,NaN,Racial inequality,practice disproportionately,16,16,1.00,1
273,NaN,273,NaN,Racial inequality,protest racial,8,8,1.00,1
274,NaN,274,NaN,Racial inequality,racial disparity,4,4,1.00,1
275,NaN,275,NaN,Racial inequality,racialize,8,8,1.00,1

In [ ]:
val_words_08 = val_words[val_words['qualified08'] == 1]
val_words_08 = val_words_08[['topic','topic_ng']]

In [ ]:
val_words_08.to_excel('/content/drive/MyDrive/Georgia/Topic Dictionaries/Final_qualified_topic_words.xlsx')

In [ ]:
val_words_08 = pd.read_excel('/content/drive/MyDrive/Georgia/Topic Dictionaries/Final_qualified_topic_words.xlsx')

In [ ]:
val_words_08_st = val_words_08[val_words_08['final_review'] != 0]

In [ ]:
print(len(val_words_08_st))
print(len(val_words_08))

597
621

In [ ]:

import re

def bigrams(s):
    return [i for i in s if re.search(r'\s', i) ]
  
def unigrams(s):
    return [i for i in s if not re.search(r'\s', i) ]


topic_words = list(set(val_words_08_st['topic_ng'].tolist()))

word_bigrams_done = list(set(bigrams(topic_words)))
print(word_bigrams_done)
print(len(word_bigrams_done))
                       
word_unigrams_done = unigrams(topic_words)
print(word_unigrams_done)
print(len(word_unigrams_done))

['heartbeat act', 'racial bias', 'charge count', 'disorderly conduct', 'take custody', 'defer action', 'espionage act', 'sexually assault', 'high schooler', 'willful obstruction', 'sexual harassment', 'consumer spending', 'affordable care', 'green new deal', 'life sentence', 'cruelty child', 'year prison', 'blood thinner', 'greenhouse gas', 'sexually abuse', 'independent contractor', 'cognitive behavioral', 'search warrant', 'voter suppression', 'standard living', 'birth control', 'fifth grader', 'charge dui', 'obstruction officer', 'reproductive freedom', 'certify presidential', 'road rage', 'atrial fibrillation', 'allege sexual', 'wildfire smoke', 'child pornography', 'possession methamphetamine', 'plan parenthood', 'open fire', 'living standard', 'assault possession', 'drug paraphernalia', 'simple battery', 'cut taxis', 'stock index', 'grocery price', 'price soar', 'unplanned pregnancy', 'threat democracy', 'fed chair', 'clean energy', 'supply shortage', 'charge felony', 'simple assault', 'school shooting', 'fire shot', 'rate hike', 'voter identification', 'aggravated assault', 'case rape', 'election denier', 'convict felon', 'assault weapon', 'doctorate degree', 'suspect flee', 'cancer diagnosis', 'post secondary', 'overturn result', 'incest save', 'affordable housing', 'sleep habit', 'drive unlicensed', 'drug smuggling', 'election fraud', 'personhood law', 'illegal alien', 'nato visa', 'carbon emission', 'staff shortage', 'kindergarten class', 'sleep duration', 'price increase', 'migrant cross', 'child abuse', 'emergency contraception', 'gun violence', 'bodily injury', 'threaten kill', 'treasury yield', 'sexual abuse', 'perform cpr', 'central bank', 'primary care', 'labor force', 'moderate income', 'drug dealer', 'heartbeat bill', 'sp 500', 'fossil fuel', 'mass shooting', 'serial killer', 'illegally enter', 'labor market', 'border security', 'pro life', 'cell metabolism', 'commit theft', 'substance abuse', 'methane emission', 'source methane', 'capitol attack', 'booster dose', 'coal fire', 'maternal health', 'domestic abuse', 'illegally cross', 'possession drug', 'legal pathway', 'double mastectomy', 'rental unit', 'big lie', 'domestic terrorism', 'crack cocaine', 'enroll medicare', 'armed violence', 'adjustment cola', 'animal cruelty', 'identity theft', 'southern border', 'mental illness', 'life prison', 'bipolar disorder', 'save money', 'physically abuse', 'rehabilitation center', 'illegally possess', 'hyde amendment', 'public indecency', 'effort overturn', 'emergency medicine', 'accuse sexually', 'sexual violence', 'death row', 'illicit drug', 'assault rifle', 'count possession', 'bachelor degree', 'law enforcement', 'pre k', 'reproductive healthcare', 'integrity election', 'opioid addiction', 'deadly mass', 'gender transition', 'national rifle association', 'racial disparity', 'price hike', 'supreme court', 'delta variant', 'occupational therapist', 'accuse kill', '40 caliber', 'heartbeat law', 'gas emission', 'hb 481', 'election security', 'associate degree', 'rise price', 'labor delivery', 'venous thromboembolism', 'elementary middle', 'hate crime', 'child porn', 'suspect identify', '12th grade', 'armed dangerous', 'sexual exploitation', 'minimum wage', 'foreign national', 'defense attorney', 'illegal drug', 'corona 19', 'seasonal depression', 'suicide bombing', 'sex abuse', 'white supremacist', 'anti gun', 'anti choice', 'global warming', 'coinsurance copayment', 'ivy league', 'aggravate assault', 'borrower creditworthiness', 'cola increase', 'prior conviction', 'attempt overturn', 'urgent care', 'drug trafficking', 'riot capitol', 'repeat offender', 'cognitive impairment', 'overturn election', 'capitol riot', 'educational institution', 'sanctuary city', 'birth defect', 'sexual battery', 'sexual assault', 'bachelor art', 'charge aggravated', 'raise interest', 'border mexico', 'race conscious', 'indecent exposure', 'nurse practitioner', 'arrest charge', 'election interference', 'count aggravated', 'consumer price', 'overturn 2020', 'january 6', 'attack capitol', 'possession intent', 'federal prison', 'carbon neutrality', 'arm trafficking', 'arm dealer', 'physical therapy', 'surgical procedure', 'break in', 'drug pricing', 'steal vehicle', '9 mm', 'woman color', 'incest life', 'severance pay', 'burglary suspect', 'sex crime', 'disproportionately impact', 'cleveland clinic', 'accusation sexual', 'semi automatic', 'white supremacy', 'right vote', 'assault battery', '10th grade', 'election integrity', 'money laundering', 'school massacre', 'pregnant woman', 'fed raise', 'knee surgery', 'suspect arrest', 'hike interest', 'possess intent', 'protection order', 'inflation fed', 'practice disproportionately', 'federal reserve', 'reproductive health', 'pull gun', 'drug cartel', 'death penalty', 'cap trade', 'heart disease', 'physical therapist', 'drug trafficker', 'pro choice', 'reckless conduct', 'assault capitol', 'labor shortage', 'witness tell', 'arrest allegedly', 'voter right', 'sexual misconduct', 'suspect custody', 'human smuggling', 'interest rate', 'gross national product', 'suicidal behavior', 'electoral fraud', 'control substance', 'gross domestic product', 'accuse sexual', 'chronic condition', 'protest racial', 'surgical bypass', 'conspiracy commit', 'illicit market', 'fill prescription', 'bachelor science', 'private equity']
292
['bivalent', 'prenatal', 'immigrate', 'murderer', 'melanoma', 'orthopaedic', 'unlawful', 'insulin', 'medically', 'dow', 'methamphetamine', 'instructional', 'repatriation', 'vocational', 'diabetes', 'drought', 'psychiatric', 'workforce', 'outpatient', 'tutoring', 'extortion', 'menstruation', 'carjack', 'gunman', 'sick', 'dentist', 'novavax', 'covid', 'telemedicine', 'slavery', 'environmentalist', 'kidnapping', 'cortisone', 'physicians', 'graduate', 'clinician', 'misconduct', 'diagnose', 'hbcu', 'smuggling', 'trafficker', 'masking', 'clinical', 'respiratory', 'homebuyer', 'marijuana', 'healthcare', 'medicinal', 'housing', 'inflationary', 'molest', 'cartel', 'lending', 'tuition', 'furlough', 'obamacare', 'assailant', 'health', 'wage', 'cardiac', 'impeach', 'rifle', 'medicaid', 'therapeutic', 'burglar', 'rehabilitation', 'neurology', 'perpetrator', 'racism', 'ar15', 'ecstasy', 'policeman', 'bribe', 'prediabete', 'emission', 'pacemaker', 'fraud', 'unionize', 'dental', 'dementia', 'layoff', 'massacre', 'alzheimer', 'illness', 'refinance', 'educate', 'industries', 'racialize', 'cost', 'borrower', 'business', 'paralysis', 'nra', 'prostitution', 'gun', 'curriculum', 'classroom', 'sepsis', 'handgun', 'arson', 'semester', 'immigrant', 'stimulus', 'ammunition', 'medical', 'smuggled', 'homeschool', 'endocrinologist', 'abuser', 'pandemic', 'gunfire', 'rehire', 'unemployed', 'medicated', 'educational', 'chemotherapy', 'job', 'bribery', 'murder', 'gerrymander', 'contraception', 'semiautomatic', 'oncology', 'undocumented', 'bombing', 'pediatrician', 'roe', 'naturalization', 'hypertension', 'pistol', 'deportation', 'thief', 'academic', 'ect', 'faculty', 'profitability', 'dui', 'anticancer', 'price', 'shoplifting', 'gang', 'employ', 'terror', 'killing', 'ibd', 'pfizer', 'crime', 'arthritis', 'riot', 'emts', 'infectious', 'grope', 'coronavirus', 'therapy', 'income', 'unemployment', 'burglary', 'robbery', 'economy', 'meth', 'macroeconomic', 'immunotherapy', 'omicron', 'scholarship', 'refugee', 'taxation', 'misdemeanor', 'homicide', 'psychosocial', 'fetus', 'munition', 'carjacker', 'abortion', 'asthma', 'urology', 'carjacking', 'depletion', 'anxiety', 'citizenship', 'cardiomyopathy', 'vandalism', 'thyroidectomy', 'manslaughter', 'ems', 'schoolwork', 'inflation', 'medication', 'fetal', 'ib', 'abused', 'shooter', 'moderna', 'glacial', 'budgeting', 'ophthalmology', 'lumpectomy', 'blindness', 'k12', 'rape', 'undergraduate', 'robber', 'endocrinology', 'tenant', 'trafficking', 'abduction', 'salary', 'killer', 'anemia', 'ba46', 'fentanyl', 'cardiovascular', 'rsv', 'racketeering', '401k', 'economic', 'pediatric', 'glock', 'apartment', 'lethal', 'budget', 'gdp', 'bleeding', 'stroke', 'oncologist', 'heloc', 'breastfeed', 'pharmacy', 'custody', 'surgery', 'economist', 'trespassing', 'mammography', 'pharmacist', 'ultrasound', 'obstetrician', 'antidepressant', 'theft', 'recession', 'ak47', 'smuggler', 'felony', 'pneumonia', 'pension', 'migrate', 'employed', 'obesity', 'gerrymandering', 'covid19', 'segregation', 'cardiologist', 'student', 'criminally', 'rapist', 'diploma', 'physician', 'schizophrenic', 'rioter', 'smuggle', 'unvaccinated', 'pregnant', 'teacher', 'poison', 'psychiatry', 'shotgun', 'neurosurgeon', 'shooting', 'insurrection', 'education', 'doctor', 'climate', 'stabbing', 'embezzlement', 'slaying', 'optometrist', 'telehealth', 'migraine', 'stretcher', 'cocaine', 'schooling', 'diabete', 'paramedic', 'methadone', 'mortgage', 'neurologist', 'graduation', 'criminal', 'nursing', 'disabled', '911', 'immigration', 'hospitalist', 'colonoscopy', 'employee', 'racist', 'violent', 'unionized', 'industry', 'firearm', 'terrorism', 'diagnosis']
300

In [ ]:

import numpy as np

df['topic_ng1'] = df['article_lemma_num'].astype(str).apply(lambda x: set.intersection(set(x.split(' ')), word_unigrams_done))
df['topic_ng2'] = df['article_lemma_num'].astype(str).apply(lambda x: [i for i in word_bigrams_done if i in x])

In [ ]:

# topic only
text_df_uni = df[ df['topic_ng1'].str.len() >= 1]
text_df_bi = df[ df['topic_ng2'].str.len() >= 1]

text_df_uni = text_df_uni[['id', 'source', 'topic_ng1']]
text_df_bi = text_df_bi[['id', 'source','topic_ng2']]

text_df_uni_df = text_df_uni.explode('topic_ng1')
text_df_bi_df = text_df_bi.explode('topic_ng2')

text_df_uni_df = text_df_uni_df.rename(columns={'topic_ng1': 'topic_ng'})
text_df_bi_df = text_df_bi_df.rename(columns={'topic_ng2': 'topic_ng'})

text_df_ng_all = pd.concat([text_df_uni_df, text_df_bi_df])

text_df_ng_all_merge = pd.merge(text_df_ng_all, val_words_08, how='left', on=['topic_ng'])

In [ ]:
text_df_ng_all_merge[text_df_ng_all_merge['topic_ng']=='gunfire']

,id,source,topic_ng,Unnamed: 0,topic,final_review
4504,1766,WALG AM 1590,gunfire,371,Crime,1
4505,1766,WALG AM 1590,gunfire,372,Guns,1
5734,2209,WRDW News CBS 12 NBC 26,gunfire,371,Crime,1
5735,2209,WRDW News CBS 12 NBC 26,gunfire,372,Guns,1
5851,2264,WRDW News CBS 12 NBC 26,gunfire,371,Crime,1
...,...,...,...,...,...,...
340328,189396,WALB TV 10 (NBC),gunfire,372,Guns,1
340376,189639,WALB TV 10 (NBC),gunfire,371,Crime,1
340377,189639,WALB TV 10 (NBC),gunfire,372,Guns,1
340788,191436,WALB TV 10 (NBC),gunfire,371,Crime,1
340789,191436,WALB TV 10 (NBC),gunfire,372,Guns,1

In [ ]:
text_df_ng_all_merge_count = text_df_ng_all_merge.groupby(['source', 'topic', 'id']).count().reset_index()

In [ ]:
text_df_ng_all_merge_count

,source,topic,id,topic_ng,Unnamed: 0,final_review
0,285 South,COVID-19,60548,1,1,1
1,285 South,Climate change,60548,4,4,4
2,285 South,Crime,60546,2,2,2
3,285 South,Crime,60550,1,1,1
4,285 South,Economy / Jobs,60546,1,1,1
...,...,...,...,...,...,...
199181,Youth Today,Racial inequality,109944,3,3,3
199182,Youth Today,Racial inequality,109954,1,1,1
199183,Youth Today,Racial inequality,109955,1,1,1
199184,Youth Today,Supreme Court,109943,1,1,1
199185,Youth Today,Supreme Court,109952,1,1,1

In [ ]:
text_df_ng_all_merge_count_art = text_df_ng_all_merge_count.groupby(['source', 'topic']).count().reset_index()

In [ ]:
text_df_ng_all_merge_count_art

           source              topic  id  topic_ng  Unnamed: 0  final_review
0       285 South           COVID-19   1         1           1             1
1       285 South     Climate change   1         1           1             1
2       285 South              Crime   2         2           2             2
3       285 South     Economy / Jobs   5         5           5             5
4       285 South          Education   3         3           3             3
...           ...                ...  ..       ...         ...           ...
2651  Youth Today               Guns   6         6           6             6
2652  Youth Today        Health care  21        21          21            21
2653  Youth Today          Inflation  10        10          10            10
2654  Youth Today  Racial inequality   6         6           6             6
2655  Youth Today      Supreme Court   2         2           2             2

[2656 rows x 6 columns]

In [ ]:
topics_spread = text_df_ng_all_merge_count_art.pivot_table('id', ['source'], 'topic').reset_index()

In [ ]:
text_df2_final_source = df[['source']].drop_duplicates().reset_index()

In [ ]:
text_df2_final_source

      index                      source
0         0           Metter Advertiser
1       277             The Red & Black
2       658  Atlanta Business Chronicle
3       803            Georgia Recorder
4       864             Clayton Tribune
..      ...                         ...
226  181431                WUGA FM 91.7
227  183430      WUVG TV 34 (Univision)
228  183605                   The Xylom
229  183608                 WQXI AM 790
230  184412            WALB TV 10 (NBC)

[231 rows x 2 columns]

In [ ]:
topics_spread_merge = pd.merge(text_df2_final_source, topics_spread, how='left', on='source')

In [ ]:
topics_spread_merge = topics_spread_merge.sort_values('source')

In [ ]:
topic_column_list = topics_spread_merge.columns.tolist()

In [ ]:
final_topic = val_words_08_st[['topic']].drop_duplicates().reset_index()
final_topic[~final_topic['topic'].isin(topic_column_list)].values
final_topic

    index                                        topic
0       0                                     Abortion
1      20                           Affordable housing
2      35                               Climate change
3      55                                     COVID-19
4      70                                        Crime
5     260                               Economy / Jobs
6     329                                    Education
7     369                                Election laws
8     380                                         Guns
9     404                                  Health care
10    551                Immigration / border security
11    574                                    Inflation
12    585  Preserving democracy / Threats to democracy
13    604                            Racial inequality
14    620                                Supreme Court

In [ ]:
topics_spread_merge_d1 = topics_spread_merge[['index', 'source']]
topics_spread_merge_d2 = topics_spread_merge.drop(columns=['index', 'source'])
topics_spread_merge_d2 = topics_spread_merge_d2[sorted(topics_spread_merge_d2)]

In [ ]:
topics_spread_merge2 = pd.concat([topics_spread_merge_d1, topics_spread_merge_d2], axis=1)

In [ ]:
test = text_df_ng_all_merge[ (text_df_ng_all_merge['source']=='Alma Times' ) & (text_df_ng_all_merge['topic']=='Economy / Jobs')]
print(len(set(test.id.values.tolist()))) # 2120
test

117

,id,source,topic_ng,Unnamed: 0,topic,final_review
307101,174129,Alma Times,job,455,Economy / Jobs,1
307102,174131,Alma Times,employee,300,Economy / Jobs,1
307103,174131,Alma Times,job,455,Economy / Jobs,1
307104,174132,Alma Times,economy,275,Economy / Jobs,1
307107,174132,Alma Times,industry,438,Economy / Jobs,1
...,...,...,...,...,...,...
396603,174370,Alma Times,save money,743,Economy / Jobs,1
396607,174380,Alma Times,save money,743,Economy / Jobs,1
396614,174397,Alma Times,save money,743,Economy / Jobs,1
396617,174401,Alma Times,save money,743,Economy / Jobs,1
396623,174406,Alma Times,save money,743,Economy / Jobs,1

In [ ]:
topics_spread_merge2

,index,source,Abortion,Affordable housing,COVID-19,Climate change,Crime,Economy / Jobs,Education,Election laws,Guns,Health care,Immigration / border security,Inflation,Preserving democracy / Threats to democracy,Racial inequality,Supreme Court
109,60545,285 South,NaN,NaN,1.0,1.0,2.0,5.0,3.0,NaN,1.0,1.0,5.0,NaN,NaN,NaN,NaN
94,49699,Albany Herald,53.0,49.0,147.0,78.0,246.0,494.0,307.0,12.0,71.0,404.0,54.0,198.0,26.0,35.0,35.0
212,174127,Alma Times,1.0,13.0,45.0,26.0,16.0,117.0,62.0,NaN,NaN,140.0,1.0,69.0,NaN,4.0,1.0
208,173505,Alpharetta Revue & News,NaN,12.0,4.0,NaN,22.0,30.0,16.0,NaN,NaN,16.0,2.0,13.0,NaN,4.0,2.0
57,30316,Americus Times Recorder,1.0,10.0,4.0,1.0,26.0,35.0,29.0,NaN,12.0,17.0,1.0,8.0,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,137871,Washington News Reporter,NaN,2.0,1.0,NaN,5.0,20.0,11.0,NaN,1.0,8.0,1.0,2.0,NaN,1.0,NaN
173,112249,Waycross Journal Herald,NaN,10.0,46.0,27.0,25.0,129.0,75.0,NaN,3.0,162.0,1.0,64.0,NaN,5.0,1.0
80,43810,Waynesboro True Citizen,3.0,9.0,6.0,1.0,36.0,40.0,33.0,NaN,14.0,26.0,2.0,16.0,NaN,2.0,NaN
27,14874,White County News,6.0,8.0,15.0,4.0,32.0,71.0,44.0,1.0,7.0,38.0,4.0,23.0,3.0,1.0,1.0
165,109935,Youth Today,1.0,6.0,11.0,4.0,15.0,18.0,20.0,NaN,6.0,21.0,NaN,10.0,NaN,6.0,2.0

In [ ]:
# merge # of articles by source
df_count = df.groupby('source')['id'].count().reset_index()
df_count = df_count.rename(columns={'id': 'total_articles'})

In [ ]:
topics_spread_merge2 = pd.merge(topics_spread_merge2, df_count, on='source', how='left')

In [ ]:
topics_spread_merge2

,index,source,Abortion,Affordable housing,COVID-19,Climate change,Crime,Economy / Jobs,Education,Election laws,Guns,Health care,Immigration / border security,Inflation,Preserving democracy / Threats to democracy,Racial inequality,Supreme Court,total_articles
0,60545,285 South,NaN,NaN,1.0,1.0,2.0,5.0,3.0,NaN,1.0,1.0,5.0,NaN,NaN,NaN,NaN,5
1,49699,Albany Herald,53.0,49.0,147.0,78.0,246.0,494.0,307.0,12.0,71.0,404.0,54.0,198.0,26.0,35.0,35.0,1343
2,174127,Alma Times,1.0,13.0,45.0,26.0,16.0,117.0,62.0,NaN,NaN,140.0,1.0,69.0,NaN,4.0,1.0,292
3,173505,Alpharetta Revue & News,NaN,12.0,4.0,NaN,22.0,30.0,16.0,NaN,NaN,16.0,2.0,13.0,NaN,4.0,2.0,63
4,30316,Americus Times Recorder,1.0,10.0,4.0,1.0,26.0,35.0,29.0,NaN,12.0,17.0,1.0,8.0,NaN,NaN,1.0,104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,137871,Washington News Reporter,NaN,2.0,1.0,NaN,5.0,20.0,11.0,NaN,1.0,8.0,1.0,2.0,NaN,1.0,NaN,26
227,112249,Waycross Journal Herald,NaN,10.0,46.0,27.0,25.0,129.0,75.0,NaN,3.0,162.0,1.0,64.0,NaN,5.0,1.0,368
228,43810,Waynesboro True Citizen,3.0,9.0,6.0,1.0,36.0,40.0,33.0,NaN,14.0,26.0,2.0,16.0,NaN,2.0,NaN,160
229,14874,White County News,6.0,8.0,15.0,4.0,32.0,71.0,44.0,1.0,7.0,38.0,4.0,23.0,3.0,1.0,1.0,244
230,109935,Youth Today,1.0,6.0,11.0,4.0,15.0,18.0,20.0,NaN,6.0,21.0,NaN,10.0,NaN,6.0,2.0,24

In [ ]:
topics_spread_merge2.to_excel('/content/drive/MyDrive/Georgia/Topic Dictionaries/Final_Georgia_topic_dictionary.xlsx')

## Facebook

In [ ]:
# lemmatization if needed
import spacy
import re

nlp = spacy.load("en_core_web_sm", disable=['ner', 'parser']) # disabling Named Entity Recognition for speed

/usr/local/lib/python3.9/dist-packages/torch/cuda/__init__.py:497: UserWarning: Can't initialize NVML
  warnings.warn("Can't initialize NVML")

In [ ]:
import re

def get_lemmas_num(text):

    regex = re.compile('[^a-zA-Z0-9]')

    lemmas = []
    
    doc = nlp(text)

    for token in doc: 
        if ((token.is_stop == False) and (token.is_punct == False)) and (token.pos_ != 'PRON') and (token.text != 'NA'):
            lemmas.append(regex.sub('', token.lemma_))
    
    return ' '.join(lemmas)

In [ ]:
# https://docs.google.com/spreadsheets/d/1Cp5SB_tpnDemvSkQNMJSpokiYD7yLeMy/edit#gid=1208960361

import pandas as pd
import gspread as gs

gsheetid = '1Cp5SB_tpnDemvSkQNMJSpokiYD7yLeMy'
sheet_name = 'CrowdTangle_GA'

df_fb = pd.read_csv(f"https://docs.google.com/spreadsheets/d/{gsheetid}/export?format=csv")

In [ ]:
set(df_fb['Page Name'].values.tolist())

{'Fort Gaines/Clay County, Georgia',
 'Gibson County News & Talk',
 "The Citizen's Times"}

In [ ]:
df_fb.groupby('Page Name').count()

,User Name,Facebook Id,Page Category,Page Admin Top Country,Page Description,Page Created,Likes at Posting,Followers at Posting,Post Created,Post Created Date,...,Final Link,Image Text,Link Text,Description,Sponsor Id,Sponsor Name,Sponsor Category,Total Interactions (weighted — Likes 1x Shares 1x Comments 1x Love 1x Wow 1x Haha 1x Sad 1x Angry 1x Care 1x ),Overperforming Score,doc
Page Name,,,,,,,,,,,,,,,,,,,,,
"Fort Gaines/Clay County, Georgia",0,57,57,0,0,0,57,0,57,57,...,0,57,57,57,0,0,0,57,57,57
Gibson County News & Talk,80,80,80,80,80,80,80,80,80,80,...,0,80,80,80,0,0,0,80,80,80
The Citizen's Times,0,4,4,4,4,4,4,4,4,4,...,0,4,4,4,0,0,0,4,4,4

In [ ]:
df_fb[['Message', 'Link', 'Image Text', 'Link Text', 'Description']] = df_fb[['Message', 'Link', 'Image Text', 'Link Text', 'Description']].fillna('').astype(str)
df_fb['doc'] = df_fb[['Message', 'Link', 'Image Text', 'Link Text', 'Description']].agg(' '.join, axis=1)

In [ ]:
df_fb['source'] = df_fb['Page Name'].copy()

In [ ]:
df_fb = df_fb.reset_index()
df_fb["id"] = df_fb.index + 1

In [ ]:
df_fb['article_lemma_num'] = df_fb['doc'].str.lower().astype(str).apply(get_lemmas_num)

In [ ]:

import re

def bigrams(s):
    return [i for i in s if re.search(r'\s', i) ]
  
def unigrams(s):
    return [i for i in s if not re.search(r'\s', i) ]


topic_words = list(set(val_words_08_st['topic_ng'].tolist()))

word_bigrams_done = list(set(bigrams(topic_words)))
print(word_bigrams_done)
print(len(word_bigrams_done))
                       
word_unigrams_done = unigrams(topic_words)
print(word_unigrams_done)
print(len(word_unigrams_done))

['heartbeat act', 'racial bias', 'charge count', 'disorderly conduct', 'take custody', 'defer action', 'espionage act', 'sexually assault', 'high schooler', 'willful obstruction', 'sexual harassment', 'consumer spending', 'affordable care', 'green new deal', 'life sentence', 'cruelty child', 'year prison', 'blood thinner', 'greenhouse gas', 'sexually abuse', 'independent contractor', 'cognitive behavioral', 'search warrant', 'voter suppression', 'standard living', 'birth control', 'fifth grader', 'charge dui', 'obstruction officer', 'reproductive freedom', 'certify presidential', 'road rage', 'atrial fibrillation', 'allege sexual', 'wildfire smoke', 'child pornography', 'possession methamphetamine', 'plan parenthood', 'open fire', 'living standard', 'assault possession', 'drug paraphernalia', 'simple battery', 'cut taxis', 'stock index', 'grocery price', 'price soar', 'unplanned pregnancy', 'threat democracy', 'fed chair', 'clean energy', 'supply shortage', 'charge felony', 'simple assault', 'school shooting', 'fire shot', 'rate hike', 'voter identification', 'aggravated assault', 'case rape', 'election denier', 'convict felon', 'assault weapon', 'doctorate degree', 'suspect flee', 'cancer diagnosis', 'post secondary', 'overturn result', 'incest save', 'affordable housing', 'sleep habit', 'drive unlicensed', 'drug smuggling', 'election fraud', 'personhood law', 'illegal alien', 'nato visa', 'carbon emission', 'staff shortage', 'kindergarten class', 'sleep duration', 'price increase', 'migrant cross', 'child abuse', 'emergency contraception', 'gun violence', 'bodily injury', 'threaten kill', 'treasury yield', 'sexual abuse', 'perform cpr', 'central bank', 'primary care', 'labor force', 'moderate income', 'drug dealer', 'heartbeat bill', 'sp 500', 'fossil fuel', 'mass shooting', 'serial killer', 'illegally enter', 'labor market', 'border security', 'pro life', 'cell metabolism', 'commit theft', 'substance abuse', 'methane emission', 'source methane', 'capitol attack', 'booster dose', 'coal fire', 'maternal health', 'domestic abuse', 'illegally cross', 'possession drug', 'legal pathway', 'double mastectomy', 'rental unit', 'big lie', 'domestic terrorism', 'crack cocaine', 'enroll medicare', 'armed violence', 'adjustment cola', 'animal cruelty', 'identity theft', 'southern border', 'mental illness', 'life prison', 'bipolar disorder', 'save money', 'physically abuse', 'rehabilitation center', 'illegally possess', 'hyde amendment', 'public indecency', 'effort overturn', 'emergency medicine', 'accuse sexually', 'sexual violence', 'death row', 'illicit drug', 'assault rifle', 'count possession', 'bachelor degree', 'law enforcement', 'pre k', 'reproductive healthcare', 'integrity election', 'opioid addiction', 'deadly mass', 'gender transition', 'national rifle association', 'racial disparity', 'price hike', 'supreme court', 'delta variant', 'occupational therapist', 'accuse kill', '40 caliber', 'heartbeat law', 'gas emission', 'hb 481', 'election security', 'associate degree', 'rise price', 'labor delivery', 'venous thromboembolism', 'elementary middle', 'hate crime', 'child porn', 'suspect identify', '12th grade', 'armed dangerous', 'sexual exploitation', 'minimum wage', 'foreign national', 'defense attorney', 'illegal drug', 'corona 19', 'seasonal depression', 'suicide bombing', 'sex abuse', 'white supremacist', 'anti gun', 'anti choice', 'global warming', 'coinsurance copayment', 'ivy league', 'aggravate assault', 'borrower creditworthiness', 'cola increase', 'prior conviction', 'attempt overturn', 'urgent care', 'drug trafficking', 'riot capitol', 'repeat offender', 'cognitive impairment', 'overturn election', 'capitol riot', 'educational institution', 'sanctuary city', 'birth defect', 'sexual battery', 'sexual assault', 'bachelor art', 'charge aggravated', 'raise interest', 'border mexico', 'race conscious', 'indecent exposure', 'nurse practitioner', 'arrest charge', 'election interference', 'count aggravated', 'consumer price', 'overturn 2020', 'january 6', 'attack capitol', 'possession intent', 'federal prison', 'carbon neutrality', 'arm trafficking', 'arm dealer', 'physical therapy', 'surgical procedure', 'break in', 'drug pricing', 'steal vehicle', '9 mm', 'woman color', 'incest life', 'severance pay', 'burglary suspect', 'sex crime', 'disproportionately impact', 'cleveland clinic', 'accusation sexual', 'semi automatic', 'white supremacy', 'right vote', 'assault battery', '10th grade', 'election integrity', 'money laundering', 'school massacre', 'pregnant woman', 'fed raise', 'knee surgery', 'suspect arrest', 'hike interest', 'possess intent', 'protection order', 'inflation fed', 'practice disproportionately', 'federal reserve', 'reproductive health', 'pull gun', 'drug cartel', 'death penalty', 'cap trade', 'heart disease', 'physical therapist', 'drug trafficker', 'pro choice', 'reckless conduct', 'assault capitol', 'labor shortage', 'witness tell', 'arrest allegedly', 'voter right', 'sexual misconduct', 'suspect custody', 'human smuggling', 'interest rate', 'gross national product', 'suicidal behavior', 'electoral fraud', 'control substance', 'gross domestic product', 'accuse sexual', 'chronic condition', 'protest racial', 'surgical bypass', 'conspiracy commit', 'illicit market', 'fill prescription', 'bachelor science', 'private equity']
292
['bivalent', 'prenatal', 'immigrate', 'murderer', 'melanoma', 'orthopaedic', 'unlawful', 'insulin', 'medically', 'dow', 'methamphetamine', 'instructional', 'repatriation', 'vocational', 'diabetes', 'drought', 'psychiatric', 'workforce', 'outpatient', 'tutoring', 'extortion', 'menstruation', 'carjack', 'gunman', 'sick', 'dentist', 'novavax', 'covid', 'telemedicine', 'slavery', 'environmentalist', 'kidnapping', 'cortisone', 'physicians', 'graduate', 'clinician', 'misconduct', 'diagnose', 'hbcu', 'smuggling', 'trafficker', 'masking', 'clinical', 'respiratory', 'homebuyer', 'marijuana', 'healthcare', 'medicinal', 'housing', 'inflationary', 'molest', 'cartel', 'lending', 'tuition', 'furlough', 'obamacare', 'assailant', 'health', 'wage', 'cardiac', 'impeach', 'rifle', 'medicaid', 'therapeutic', 'burglar', 'rehabilitation', 'neurology', 'perpetrator', 'racism', 'ar15', 'ecstasy', 'policeman', 'bribe', 'prediabete', 'emission', 'pacemaker', 'fraud', 'unionize', 'dental', 'dementia', 'layoff', 'massacre', 'alzheimer', 'illness', 'refinance', 'educate', 'industries', 'racialize', 'cost', 'borrower', 'business', 'paralysis', 'nra', 'prostitution', 'gun', 'curriculum', 'classroom', 'sepsis', 'handgun', 'arson', 'semester', 'immigrant', 'stimulus', 'ammunition', 'medical', 'smuggled', 'homeschool', 'endocrinologist', 'abuser', 'pandemic', 'gunfire', 'rehire', 'unemployed', 'medicated', 'educational', 'chemotherapy', 'job', 'bribery', 'murder', 'gerrymander', 'contraception', 'semiautomatic', 'oncology', 'undocumented', 'bombing', 'pediatrician', 'roe', 'naturalization', 'hypertension', 'pistol', 'deportation', 'thief', 'academic', 'ect', 'faculty', 'profitability', 'dui', 'anticancer', 'price', 'shoplifting', 'gang', 'employ', 'terror', 'killing', 'ibd', 'pfizer', 'crime', 'arthritis', 'riot', 'emts', 'infectious', 'grope', 'coronavirus', 'therapy', 'income', 'unemployment', 'burglary', 'robbery', 'economy', 'meth', 'macroeconomic', 'immunotherapy', 'omicron', 'scholarship', 'refugee', 'taxation', 'misdemeanor', 'homicide', 'psychosocial', 'fetus', 'munition', 'carjacker', 'abortion', 'asthma', 'urology', 'carjacking', 'depletion', 'anxiety', 'citizenship', 'cardiomyopathy', 'vandalism', 'thyroidectomy', 'manslaughter', 'ems', 'schoolwork', 'inflation', 'medication', 'fetal', 'ib', 'abused', 'shooter', 'moderna', 'glacial', 'budgeting', 'ophthalmology', 'lumpectomy', 'blindness', 'k12', 'rape', 'undergraduate', 'robber', 'endocrinology', 'tenant', 'trafficking', 'abduction', 'salary', 'killer', 'anemia', 'ba46', 'fentanyl', 'cardiovascular', 'rsv', 'racketeering', '401k', 'economic', 'pediatric', 'glock', 'apartment', 'lethal', 'budget', 'gdp', 'bleeding', 'stroke', 'oncologist', 'heloc', 'breastfeed', 'pharmacy', 'custody', 'surgery', 'economist', 'trespassing', 'mammography', 'pharmacist', 'ultrasound', 'obstetrician', 'antidepressant', 'theft', 'recession', 'ak47', 'smuggler', 'felony', 'pneumonia', 'pension', 'migrate', 'employed', 'obesity', 'gerrymandering', 'covid19', 'segregation', 'cardiologist', 'student', 'criminally', 'rapist', 'diploma', 'physician', 'schizophrenic', 'rioter', 'smuggle', 'unvaccinated', 'pregnant', 'teacher', 'poison', 'psychiatry', 'shotgun', 'neurosurgeon', 'shooting', 'insurrection', 'education', 'doctor', 'climate', 'stabbing', 'embezzlement', 'slaying', 'optometrist', 'telehealth', 'migraine', 'stretcher', 'cocaine', 'schooling', 'diabete', 'paramedic', 'methadone', 'mortgage', 'neurologist', 'graduation', 'criminal', 'nursing', 'disabled', '911', 'immigration', 'hospitalist', 'colonoscopy', 'employee', 'racist', 'violent', 'unionized', 'industry', 'firearm', 'terrorism', 'diagnosis']
300

In [ ]:

import numpy as np

df_fb['topic_ng1'] = df_fb['article_lemma_num'].astype(str).apply(lambda x: set.intersection(set(x.split(' ')), word_unigrams_done))
df_fb['topic_ng2'] = df_fb['article_lemma_num'].astype(str).apply(lambda x: [i for i in word_bigrams_done if i in x])

In [ ]:

# topic only
text_df_fb_uni = df_fb[ df_fb['topic_ng1'].str.len() >= 1]
text_df_fb_bi = df_fb[ df_fb['topic_ng2'].str.len() >= 1]

text_df_fb_uni = text_df_fb_uni[['id', 'source', 'topic_ng1']]
text_df_fb_bi = text_df_fb_bi[['id', 'source','topic_ng2']]

text_df_fb_uni_df_fb = text_df_fb_uni.explode('topic_ng1')
text_df_fb_bi_df_fb = text_df_fb_bi.explode('topic_ng2')

text_df_fb_uni_df_fb = text_df_fb_uni_df_fb.rename(columns={'topic_ng1': 'topic_ng'})
text_df_fb_bi_df_fb = text_df_fb_bi_df_fb.rename(columns={'topic_ng2': 'topic_ng'})

text_df_fb_ng_all = pd.concat([text_df_fb_uni_df_fb, text_df_fb_bi_df_fb])

text_df_fb_ng_all_merge = pd.merge(text_df_fb_ng_all, val_words_08_st, how='left', on=['topic_ng'])

In [ ]:
text_df_fb_ng_all_merge

,id,source,topic_ng,Unnamed: 0,topic,final_review
0,4,Gibson County News & Talk,ems,303,Health care,1
1,16,Gibson County News & Talk,job,455,Economy / Jobs,1
2,18,Gibson County News & Talk,ems,303,Health care,1
3,21,Gibson County News & Talk,business,94,Economy / Jobs,1
4,21,Gibson County News & Talk,economic,270,Economy / Jobs,1
5,22,Gibson County News & Talk,business,94,Economy / Jobs,1
6,25,Gibson County News & Talk,business,94,Economy / Jobs,1
7,26,Gibson County News & Talk,ems,303,Health care,1
8,28,Gibson County News & Talk,business,94,Economy / Jobs,1
9,29,"Fort Gaines/Clay County, Georgia",job,455,Economy / Jobs,1
10,34,Gibson County News & Talk,ems,303,Health care,1
11,39,Gibson County News & Talk,ems,303,Health care,1
12,44,Gibson County News & Talk,911,7,Crime,1
13,44,Gibson County News & Talk,theft,855,Crime,1
14,44,Gibson County News & Talk,vandalism,897,Crime,1
15,45,Gibson County News & Talk,classroom,142,Education,1
16,62,Gibson County News & Talk,business,94,Economy / Jobs,1
17,64,"Fort Gaines/Clay County, Georgia",scholarship,746,Education,1
18,73,"Fort Gaines/Clay County, Georgia",business,94,Economy / Jobs,1
19,78,Gibson County News & Talk,medical,503,Health care,1
20,82,Gibson County News & Talk,ems,303,Health care,1
21,87,"Fort Gaines/Clay County, Georgia",inflation,442,Inflation,1
22,108,The Citizen's Times,ems,303,Health care,1
23,108,The Citizen's Times,health,382,Health care,1
24,108,The Citizen's Times,student,824,Education,1
25,110,"Fort Gaines/Clay County, Georgia",cost,261,Inflation,1
26,110,"Fort Gaines/Clay County, Georgia",student,824,Education,1
27,135,"Fort Gaines/Clay County, Georgia",diagnose,221,Health care,1
28,135,"Fort Gaines/Clay County, Georgia",therapy,858,Health care,1
29,135,"Fort Gaines/Clay County, Georgia",diagnosis,222,Health care,1
30,13,Gibson County News & Talk,law enforcement,475,Crime,1

In [ ]:

text_df_fb_ng_all_merge_count = text_df_fb_ng_all_merge.groupby(['source', 'topic', 'id']).count().reset_index()
text_df_fb_ng_all_merge_count_art = text_df_fb_ng_all_merge_count.groupby(['source', 'topic']).count().reset_index()

In [ ]:
text_df_fb_ng_all_merge_count_art

,source,topic,id,topic_ng,Unnamed: 0,final_review
0,"Fort Gaines/Clay County, Georgia",Economy / Jobs,2,2,2,2
1,"Fort Gaines/Clay County, Georgia",Education,2,2,2,2
2,"Fort Gaines/Clay County, Georgia",Health care,1,1,1,1
3,"Fort Gaines/Clay County, Georgia",Inflation,2,2,2,2
4,Gibson County News & Talk,Crime,2,2,2,2
5,Gibson County News & Talk,Economy / Jobs,6,6,6,6
6,Gibson County News & Talk,Education,1,1,1,1
7,Gibson County News & Talk,Health care,7,7,7,7
8,The Citizen's Times,Education,1,1,1,1
9,The Citizen's Times,Health care,1,1,1,1

In [ ]:
topics_spread_fb = text_df_fb_ng_all_merge_count_art.pivot_table('id', ['source'], 'topic').reset_index()

In [ ]:
topics_spread_fb = topics_spread_fb.reset_index()

In [ ]:
topics_spread_fb_merge = topics_spread_fb.sort_values('source')
topics_spread_fb_merge

topic,index,source,Crime,Economy / Jobs,Education,Health care,Inflation
0,0,"Fort Gaines/Clay County, Georgia",NaN,2.0,2.0,1.0,2.0
1,1,Gibson County News & Talk,2.0,6.0,1.0,7.0,NaN
2,2,The Citizen's Times,NaN,NaN,1.0,1.0,NaN

In [ ]:

final_topic = val_words_08_st[['topic']].drop_duplicates().reset_index()
final_topic[~final_topic['topic'].isin(topic_column_list)].values
final_topic

    index                                        topic
0       0                                     Abortion
1      20                           Affordable housing
2      35                               Climate change
3      55                                     COVID-19
4      70                                        Crime
5     260                               Economy / Jobs
6     329                                    Education
7     369                                Election laws
8     380                                         Guns
9     404                                  Health care
10    551                Immigration / border security
11    574                                    Inflation
12    585  Preserving democracy / Threats to democracy
13    604                            Racial inequality
14    620                                Supreme Court

In [ ]:

topics_spread_fb_merge_d1 = topics_spread_fb_merge[['index', 'source']]
topics_spread_fb_merge_d2 = topics_spread_fb_merge.drop(columns=['index', 'source'])
topics_spread_fb_merge_d2 = topics_spread_fb_merge_d2[sorted(topics_spread_fb_merge_d2)]

In [ ]:

topics_spread_fb_merge2 = pd.concat([topics_spread_fb_merge_d1, topics_spread_fb_merge_d2], axis=1)

# merge # of articles by source
df_fb_count = df_fb.groupby('source')['id'].count().reset_index()
df_fb_count = df_fb_count.rename(columns={'id': 'total_articles'})


topics_spread_fb_merge2 = pd.merge(topics_spread_fb_merge2, df_fb_count, on='source', how='left')

In [ ]:
set(topics_spread_fb_merge2['source'].values.tolist())

{'Fort Gaines/Clay County, Georgia',
 'Gibson County News & Talk',
 "The Citizen's Times"}

In [ ]:
topics_spread_fb_merge2_format = pd.concat([topics_spread_merge2, topics_spread_fb_merge2]).reset_index()

In [ ]:
topics_spread_fb_only = topics_spread_fb_merge2_format[topics_spread_fb_merge2_format['source'].str.contains("Fort Gaines|Gibson County|Citizen\'s Times")]

In [ ]:
topics_spread_fb_only

,level_0,index,source,Abortion,Affordable housing,COVID-19,Climate change,Crime,Economy / Jobs,Education,Election laws,Guns,Health care,Immigration / border security,Inflation,Preserving democracy / Threats to democracy,Racial inequality,Supreme Court,total_articles
231,0,0,"Fort Gaines/Clay County, Georgia",NaN,NaN,NaN,NaN,NaN,2.0,2.0,NaN,NaN,1.0,NaN,2.0,NaN,NaN,NaN,57
232,1,1,Gibson County News & Talk,NaN,NaN,NaN,NaN,2.0,6.0,1.0,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,80
233,2,2,The Citizen's Times,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,4

In [ ]:
topics_spread_fb_only.to_excel('/content/drive/MyDrive/Georgia/Topic Dictionaries/Final_Georgia_topic_dictionary_FB.xlsx')