<a href="https://colab.research.google.com/github/ykim71/georgia_analysis/blob/main/(4)_Georgia_organization_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# need access to the folder(s) below:

#%cd /content/drive/MyDrive/Georgia/

/content/drive/.shortcut-targets-by-id/1YSQ9BBnwwRu7fyeM_9V6eoFgKQBPl4Rr/Georgia/Locations Analysis

# Organization analysis

## spaCy -- pulling organizations only

In [ ]:
# lemmatization if needed
import spacy
from spacy import displacy

#sp = spacy.load('en_core_web_sm')
sp = spacy.load('en_core_web_sm', disable=["tok2vec", "tagger", "parser", "attribute_ruler", "lemmatizer"])


def text_ner_org(text):
  text = sp(text)
  
  ner_list = []
  
  for entity in text.ents:
    if entity.label_ == "ORG":
      ner_list.append(entity.text + " (" + entity.label_ + ")")
    else:
      None
  return str(set(ner_list))

### org analysis

In [ ]:
import pandas as pd

df = pd.read_pickle('/content/drive/MyDrive/Georgia/Web Scraping/Georgia_data_v2_translation_ner2_lem.pkl')

In [ ]:
df['ner_orgs'] = df['article_final'].astype(str).apply(text_ner_org)

In [ ]:
max(df['date_published'])

'2022-10-15'

In [ ]:
min(df['date_published'])

'2022-09-15'

In [ ]:
df_ner_comp_no_set = df[df['ner_orgs'] != 'set()']

In [ ]:
df_ner_comp_no_set

,index,source,website,article_url,article_title,article_author,date_published,ner_places,article_lemma_num,article_final,translation_YN,id,ner_orgs
0,173703,285 South,https://285south.bulletin.com/,https://285south.bulletin.com/voters-elections...,"Voters, elections, and voters.",Sophia Qureshi,2022-10-12,"{'Peachtree Corners (LOC)', 'Atlanta (GPE)', '...",gop effort court hispanic voter republican inc...,The GOP effort to court Hispanic voters: Repub...,0,1,"{'Latinos (ORG)', 'State Senate (ORG)', 'WABE ..."
1,173701,285 South,https://285south.bulletin.com/,https://285south.bulletin.com/as-the-guatemala...,"As the Guatemalan community in Georgia grows, ...",Sophia Qureshi,2022-09-28,"{'Guatemala (GPE)', 'Chuj (GPE)', 'Atlanta (GP...",guatemalan population georgia double 68000 dec...,The Guatemalan population in Georgia has almos...,0,2,"{'the Mayan Heritage Project (ORG)', 'Fundacio..."
2,173702,285 South,https://285south.bulletin.com/,https://285south.bulletin.com/events-around-to...,October Events Calendar,Sophia Qureshi,2022-09-30,"{'The City of Lawrenceville (GPE)', 'Johns Cre...",itu2019s busy month lot fundraiser event mark ...,It\u2019s a busy month - lots of fundraisers a...,0,3,"{'Noor Family Services Gala (ORG)', 'Labor (OR..."
3,173700,285 South,https://285south.bulletin.com/,https://285south.bulletin.com/victor-mariachi-...,Victor Mariachi didn't believe in voting. How ...,Sophia Qureshi,2022-09-16,"{'Phoenix (GPE)', 'Atlanta (GPE)', 'US (GPE)',...",285 south contributor phoebe quinton saturday ...,By 285 South Contributor Phoebe Quinton On Sat...,0,4,"{'LCF (ORG)', 'Latino (ORG)', 'Super Humans (O..."
4,173704,285 South,https://285south.bulletin.com/,https://285south.bulletin.com/meet-sara-naqvi-...,Meet Sara Naqvi: Pakistani vegan and co-found...,Sophia Qureshi,2022-10-14,"{'Atlanta (GPE)', '\\""""foodie\\ (GPE)', 'Georg...",sara naqvi publisher blog pakistani vegan peop...,"Sara Naqvi, publisher of the blog The Pakistan...",0,5,"{'Punjab Spice Company - a metro (ORG)', 'Rain..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
212992,3825,WQXI AM 790,https://atlantaradiokorea.com/,https://atlantaradiokorea.com/%ed%95%b4%ed%8a%...,"해트트릭으로 부활한 손흥민, EPL 공식 베스트11",뉴스투데이,2022-09-20,set(),million dollar evaporate land star usain bolt ...,Millions of dollars evaporated in the land sta...,1,212993,"{""Usain Bolt' (ORG)"", 'JAN (ORG)'}"
212993,3826,WQXI AM 790,https://atlantaradiokorea.com/,https://atlantaradiokorea.com/%ea%b2%80%ec%88%...,검수완박 권한쟁의 27일 공개변론…한동훈 직접 출석,Atlanta Radio Korea,2022-09-21,set(),atlanta radio korea atlanta radio korea fm967 ...,Atlanta Radio Korea Atlanta Radio Korea FM96.7...,1,212994,{'Atlanta Radio Korea (ORG)'}
212994,3827,WQXI AM 790,https://atlantaradiokorea.com/,https://atlantaradiokorea.com/%eb%af%b8-%ec%9e...,"미 재무부, '대북 석유수출' 개인 2명·사업체 3곳 제재",Atlanta Radio Korea,2022-10-07,set(),atlanta radio korea atlanta radio korea fm967 ...,Atlanta Radio Korea Atlanta Radio Korea FM96.7...,1,212995,{'Atlanta Radio Korea (ORG)'}
212995,3828,WQXI AM 790,https://atlantaradiokorea.com/,https://atlantaradiokorea.com/%ea%b7%80%eb%84%...,"귀넷, 폭주 및 레이싱 차량 처벌 강화",김영철 기자,2022-10-06,set(),million dollar evaporate land star usain bolt ...,Millions of dollars evaporated in the land sta...,1,212996,"{""Usain Bolt' (ORG)"", 'JAN (ORG)'}"
212996,3829,WQXI AM 790,https://atlantaradiokorea.com/,https://atlantaradiokorea.com/%ea%b2%80%ec%b0%...,검찰 '신당역 스토킹 살인' 전주환 구속기소,Atlanta Radio Korea,2022-10-06,set(),atlanta radio korea atlanta radio korea fm967 ...,Atlanta Radio Korea Atlanta Radio Korea FM96.7...,1,212997,{'Atlanta Radio Korea (ORG)'}

In [ ]:
print(len(df_ner_comp_no_set))
print(len(df))

163005
192206

In [ ]:
s = df_ner_comp_no_set['ner_orgs'].astype(str).str.split(',').explode().str.strip('{} ')

In [ ]:
s_df = pd.DataFrame(s)

In [ ]:
s_df['id'] = s_df.index + 1

In [ ]:
# strip quotation mark
s_df['ner_orgs'] = s_df['ner_orgs'].str.strip('\'')
s_df['ner_orgs'] = s_df['ner_orgs'].str.strip('\"')

# strop text + parantheses 
s_df['ner_orgs'] = s_df['ner_orgs'].str.replace(r"\(.*\)","")

# # strip space in the last character
# s_df['ner_orgs'] = s_df['ner_orgs'].str.rstrip('\'s')
# s_df['ner_orgs'] = s_df['ner_orgs'].str.rstrip('\’s')


# s_df['ner_orgs'] = s_df['ner_orgs'].str.rstrip('\'')
# s_df['ner_orgs'] = s_df['ner_orgs'].str.rstrip()

# s_df['ner_orgs'] = s_df['ner_orgs'].str.strip('\'')
# s_df['ner_orgs'] = s_df['ner_orgs'].str.strip('\"')

# # #
# # s_df['ner_orgs'] = s_df['ner_orgs'].str.replace(r'“', '')

# remove 'a '
s_df['ner_orgs'] = s_df['ner_orgs'].str.replace(r'^the state ', '')
s_df['ner_orgs'] = s_df['ner_orgs'].str.replace(r'^The state ', '')
s_df['ner_orgs'] = s_df['ner_orgs'].str.replace(r'^the ', '')
s_df['ner_orgs'] = s_df['ner_orgs'].str.replace(r'^The ', '')
s_df['ner_orgs'] = s_df['ner_orgs'].str.replace(r'^an ', '')
s_df['ner_orgs'] = s_df['ner_orgs'].str.replace(r'^a ', '')

s_df['ner_orgs'] = s_df['ner_orgs'].str.rstrip()

# # strip space in the last character
# s_df['ner_orgs'] = s_df['ner_orgs'].str.rstrip('\'s')
# s_df['ner_orgs'] = s_df['ner_orgs'].str.rstrip('\’s')



# s_df['ner_orgs'] = s_df['ner_orgs'].str.rstrip('\'s')
# s_df['ner_orgs'] = s_df['ner_orgs'].str.rstrip('\’s')

# s_df['ner_orgs'] = s_df['ner_orgs'].str.replace(r'^\'', '')
# s_df['ner_orgs'] = s_df['ner_orgs'].str.replace(r'^\‘', '')

# s_df['ner_orgs'] = s_df['ner_orgs'].str.replace(r'^\“', '')
# s_df['ner_orgs'] = s_df['ner_orgs'].str.replace(r'^’s ', '')
# s_df['ner_orgs'] = s_df['ner_orgs'].str.replace(r'^• ', '')


# s_df['ner_orgs'] = s_df['ner_orgs'].str.replace(r'^\'', '')
# s_df['ner_orgs'] = s_df['ner_orgs'].str.rstrip('\'')
# s_df['ner_orgs'] = s_df['ner_orgs'].str.rstrip('\'s')
# s_df['ner_orgs'] = s_df['ner_orgs'].str.rstrip('\’s')

#

<ipython-input-39-b7b21fc4396d>:6: FutureWarning: The default value of regex will change from True to False in a future version.
  s_df['ner_orgs'] = s_df['ner_orgs'].str.replace(r"\(.*\)","")
<ipython-input-39-b7b21fc4396d>:23: FutureWarning: The default value of regex will change from True to False in a future version.
  s_df['ner_orgs'] = s_df['ner_orgs'].str.replace(r'^the state ', '')
<ipython-input-39-b7b21fc4396d>:24: FutureWarning: The default value of regex will change from True to False in a future version.
  s_df['ner_orgs'] = s_df['ner_orgs'].str.replace(r'^The state ', '')
<ipython-input-39-b7b21fc4396d>:25: FutureWarning: The default value of regex will change from True to False in a future version.
  s_df['ner_orgs'] = s_df['ner_orgs'].str.replace(r'^the ', '')
<ipython-input-39-b7b21fc4396d>:26: FutureWarning: The default value of regex will change from True to False in a future version.
  s_df['ner_orgs'] = s_df['ner_orgs'].str.replace(r'^The ', '')
<ipython-input-39-b7b21fc4396d>:27: FutureWarning: The default value of regex will change from True to False in a future version.
  s_df['ner_orgs'] = s_df['ner_orgs'].str.replace(r'^an ', '')
<ipython-input-39-b7b21fc4396d>:28: FutureWarning: The default value of regex will change from True to False in a future version.
  s_df['ner_orgs'] = s_df['ner_orgs'].str.replace(r'^a ', '')

In [ ]:
# drop duplicates
s_df_nodup = s_df.drop_duplicates()

In [ ]:
# minimal + delete the/a
print(len(s_df_nodup))
print(len(s_df))

2149643
2164469

In [ ]:
# minimal
print(len(s_df_nodup))
print(len(s_df))

1146941
1149027

In [ ]:
# delete the/a
print(len(s_df_nodup))
print(len(s_df))

1114636
1149027

In [ ]:
# not deleting the/a
print(len(s_df_nodup))
print(len(s_df))

1135858
1149027

In [ ]:
print(len(s_df_nodup))
print(len(s_df))

1114561
1149027

In [ ]:
df_ner_comp_no_set_st = df_ner_comp_no_set[['id', 'source', 'article_final']]

In [ ]:
df_ner_comp_no_set_st = pd.merge(df_ner_comp_no_set_st, s_df_nodup, how='left', on='id')

In [ ]:
df_ner_comp_no_set_st

,id,source,article_final,ner_orgs
0,1,285 South,The GOP effort to court Hispanic voters: Repub...,Latinos
1,1,285 South,The GOP effort to court Hispanic voters: Repub...,State Senate
2,1,285 South,The GOP effort to court Hispanic voters: Repub...,WABE Interview
3,1,285 South,The GOP effort to court Hispanic voters: Repub...,Georgia Latino Alliance for Human Rights
4,1,285 South,The GOP effort to court Hispanic voters: Repub...,Emory University
...,...,...,...,...
2149638,212994,WQXI AM 790,Atlanta Radio Korea Atlanta Radio Korea FM96.7...,Atlanta Radio Korea
2149639,212995,WQXI AM 790,Atlanta Radio Korea Atlanta Radio Korea FM96.7...,Atlanta Radio Korea
2149640,212996,WQXI AM 790,Millions of dollars evaporated in the land sta...,Usain Bolt'
2149641,212996,WQXI AM 790,Millions of dollars evaporated in the land sta...,JAN
2149642,212997,WQXI AM 790,Atlanta Radio Korea Atlanta Radio Korea FM96.7...,Atlanta Radio Korea

In [ ]:
df_ner_comp_no_set_st

,id,source,article_final,ner_orgs
0,1,Metter Advertiser,The American Pickers are excited to return to ...,American Pickers
1,1,Metter Advertiser,The American Pickers are excited to return to ...,CDC
2,1,Metter Advertiser,The American Pickers are excited to return to ...,American Pickers TV Show
3,2,Metter Advertiser,Candler County Health Department and Southeast...,SE Broad Street and
4,2,Metter Advertiser,Candler County Health Department and Southeast...,Southeast Health Unit
...,...,...,...,...
1126717,192185,WALB TV 10 (NBC),Meagan Muhlbach stood by and let herself get h...,Children’s Miracle Network
1126718,192189,WALB TV 10 (NBC),Saturday marked the sixth time in the series h...,Crimson Tide
1126719,192193,WALB TV 10 (NBC),Lexington Police are investigating the city's ...,Lexington Police
1126720,192194,WALB TV 10 (NBC),"Members and volunteers of Junior Achievement, ...",Junior Achievement
1126721,192194,WALB TV 10 (NBC),"Members and volunteers of Junior Achievement, ...",Ramey Elementary School

In [ ]:
ner_art_count = df_ner_comp_no_set_st.groupby('ner_orgs')['id'].count().reset_index()

In [ ]:
ner_art_count_c5 = ner_art_count[ner_art_count['id'] >= 5]

In [ ]:
ner_art_count_c5 = ner_art_count_c5.sort_values('ner_orgs')

In [ ]:
ner_art_count_c5 = ner_art_count_c5.reset_index()

In [ ]:
ner_art_count_c5 = ner_art_count_c5.iloc[0:34641,]

In [ ]:
ner_art_count_c5

                                    ner_orgs   id
0                                             284
24        & Movement Disorders Support Group   23
29                                    & SI’s   33
39                                       & ©   24
44                           'American Idol'    5
...                                      ...  ...
154800  • Standalone Prescription Drug Plans   17
154826                               • Trust   17
154852      •Danielsville Evangelical Church    8
154861        •Lighthouse Pentecostal Church    6
154904                                     🟣    8

[21376 rows x 2 columns]

In [ ]:
ner_art_count_c5.to_excel('Georgia_ner_orgs_art_c5_v1_pre.xlsx')

In [ ]:
ner_art_count_c5 = ner_art_count_c5.sort_values('ner_orgs', ascending=False)

In [ ]:
35647-1006

34641

In [ ]:
34514-1006

33508

In [ ]:
ner_art_count_c5

        index                                  ner_orgs  id
35646  185839                                         🟣   8
35645  185829                                         🎥  15
35644  185827  🌽 @daboot02 @coach_frost @HuskerFBNation   6
35643  185804                                      −6.5   5
35642  185803                                      −6.0   8
...       ...                                       ...  ..
1010     5479                             Air Force and   5
1009     5478                         Air Force Veteran   7
1008     5473                 Air Force Security Forces  10
1007     5470                 Air Force Reserve Command   7
1006     5469                         Air Force Reserve  22

[34641 rows x 3 columns]

Warning: total number of rows (34641) exceeds max_rows (20000). Limiting to first (20000) rows.

In [ ]:
ner_art_count_c5.to_excel('Georgia_ner_orgs_art_c5_v2_add.xlsx')

## org topic count

In [ ]:
%cd /content/drive/MyDrive/Georgia/Organization Analysis

In [ ]:
import pandas as pd
org_v2 = pd.read_excel('Georgia_ner_orgs_art_c5_v2.xlsx')
org_v1 = pd.read_excel('Georgia_ner_orgs_art_c5_v1_pre.xlsx')

/content/drive/.shortcut-targets-by-id/1YSQ9BBnwwRu7fyeM_9V6eoFgKQBPl4Rr/Georgia/Organization Analysis

In [ ]:
org_v1

       Unnamed: 0                              ner_orgs   id
0               0                                   NaN  284
1              24    & Movement Disorders Support Group   23
2              29                                & SI’s   33
3              39                                   & ©   24
4              44                       'American Idol'    5
...           ...                                   ...  ...
21371      154800  • Standalone Prescription Drug Plans   17
21372      154826                               • Trust   17
21373      154852      •Danielsville Evangelical Church    8
21374      154861        •Lighthouse Pentecostal Church    6
21375      154904                                     🟣    8

[21376 rows x 3 columns]

In [ ]:
org_v1['version'] = 'v1'
org_v2['version'] = 'v2'

In [ ]:
org_merge = pd.merge(org_v1, org_v2, how='outer', on=["ner_orgs"])

In [ ]:
org_merge

,Unnamed: 0,ner_orgs,id_x,version_x,id_y,version_y
0,0.0,NaN,284.0,v1,27.0,v2
1,92026.0,NaN,28.0,v1,27.0,v2
2,24.0,& Movement Disorders Support Group,23.0,v1,NaN,NaN
3,29.0,& SI’s,33.0,v1,NaN,NaN
4,39.0,& ©,24.0,v1,NaN,NaN
...,...,...,...,...,...,...
35409,NaN,Zuckerman Museum of Art,NaN,NaN,5.0,v2
35410,NaN,Zwangobani,NaN,NaN,8.0,v2
35411,NaN,Zyan Royal,NaN,NaN,6.0,v2
35412,NaN,Zyon McCollum,NaN,NaN,10.0,v2
35413,NaN,Zyon Mckenzie,NaN,NaN,8.0,v2

In [ ]:
org_merge_st = org_merge[['ner_orgs', 'version_x', 'version_y', 'id_y']]

In [ ]:
org_merge_repeat = org_merge_st[ (org_merge_st['version_x']=='v1') & (org_merge_st['version_y']=="v2")]

In [ ]:
org_merge_repeat

                                      ner_orgs version_x version_y  id_y
0                                          NaN        v1        v2  27.0
1                                          NaN        v1        v2  27.0
19     1.A Clear Understanding of Your Purpose        v1        v2  16.0
20                           10 Downing Street        v1        v2   5.0
21                                        100k        v1        v2  16.0
...                                        ...       ...       ...   ...
20562             Zoological Society of London        v1        v2   6.0
20563                                     Zoom        v1        v2  12.0
20564                               Zuckerberg        v1        v2  17.0
20565                                     Zulu        v1        v2  20.0
20567                    Zuzu African Acrobats        v1        v2  10.0

[19593 rows x 4 columns]

In [ ]:
org_merge_repeat.to_excel('Georgia_ner_orgs_art_c5_repeat.xlsx')

In [ ]:
import pandas as pd
%cd /content/drive/MyDrive/Georgia/Organization Analysis

df = pd.read_pickle('/content/drive/MyDrive/Georgia/Web Scraping/Georgia_data_v2_translation_ner2_lem.pkl')

org_merge_repeat = pd.read_excel('Georgia_ner_orgs_art_c5_repeat.xlsx')

/content/drive/.shortcut-targets-by-id/1YSQ9BBnwwRu7fyeM_9V6eoFgKQBPl4Rr/Georgia/Organization Analysis

In [ ]:
org_merge_repeat

       Unnamed: 0          ner_orgs version_x version_y   id_y
0            2902          CBS News        v1        v2  14337
1             290                AP        v1        v2   7110
2            2898          CBS NEWS        v1        v2   6480
3           12652               NFL        v1        v2   4877
4            1270  Associated Press        v1        v2   4286
...           ...               ...       ...       ...    ...
19588       20532           Zatko $        v1        v2      5
19589       20542            Zichal        v1        v2      5
19590       20546       Zimmerman’s        v1        v2      5
19591       20549       Zion Custis        v1        v2      5
19592       20554           Zipties        v1        v2      5

[19593 rows x 5 columns]